<a href="https://colab.research.google.com/github/hlamyo14580/Profile1/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ls

sample_data/

In [ ]:
b =['apple','orange',100,200]

In [ ]:
def type_checking(x):
  return isinstance(x,str)

In [ ]:
b

['apple', 'orange', 100, 200]

In [ ]:
def type_checking(x):
  return isinstance(x,str)
  filter(type_checking,b)
  list(filter(type_checking,b))

In [ ]:
b

['apple', 'orange', 100, 200]

In [ ]:
c=[200,300]
def mult (x):
  return x*2
list(map(mult,c))

[400, 600]

In [ ]:
c

[200, 300]

In [ ]:
f=[2,5,10]

In [ ]:
def multi(x):
  return x * 2
list(map(multi,f))

[4, 10, 20]

In [ ]:
def multi(x):
  return x * 5
list(map(multi,f))

[10, 25, 50]

In [ ]:
g = [5,10,15]

In [ ]:
def multi(y):
  return y * 10
list(map(multi,g))

[50, 100, 150]

In [ ]:
a =["hi","hello"]

In [ ]:
def captilize(x):
  return x.upper()
list(map(captilize,a))

['HI', 'HELLO']

In [ ]:
d=["HELLO","HI"]

In [ ]:
def lower(z):
  return z.lower()
list(map(lower,d))

['hello', 'hi']

In [ ]:
for i in d:
  i=i.lower()
  print(i)

hello
hi

In [ ]:
d

['HELLO', 'HI']

In [ ]:
d

['HELLO', 'HI']

In [ ]:
f =["hi","hello"]

In [ ]:
for i in f:
  i=i.upper()
  print(i)

HI
HELLO

In [ ]:
def upper(x):
  return x.upper()
list(map(upper,f))

['HI', 'HELLO']

In [ ]:
def upper(x):
  return x.upper()
list(map(upper,f))

['HI', 'HELLO']

In [ ]:
food_menu=['coffee','tea','sandwich']
order ='juice'
if order in food_menu:
  print('yes')
else:
  print('no')

no

In [ ]:
order='tea'

In [ ]:
if order == 'coffee' or order == 'tea' or order =='sandwich':
  print('yes')
else:
  print('no')

no

In [ ]:
order ='sandwich'

In [ ]:
"""thanlwin Str,
nyaunggone myothit,
data tsp,
ygn"""

'thanlwin Str,\nnyaunggone myothit,\ndata tsp,\nygn'

In [ ]:
"""thanlwin Str,\n
nyaunggone myothit,\n
data tsp,\n
ygn\n"""

'thanlwin Str,\n\nnyaunggone myothit,\n\ndata tsp,\n\nygn\n'

In [ ]:
print(hla myo\n
dala\n

ygn\n)

SyntaxError: unexpected character after line continuation character (<ipython-input-5-cbf0aebb7a2e>, line 1)

In [ ]:
print('one\ntwo\nthree\n')

one
two
three

In [ ]:
print("""hla myo
dala
ygn""")

hla myo
dala
ygn

In [ ]:
print("""hla myo
dala
ygn""")

hla myo
dala
ygn

In [ ]:
medicine="Paracetamol"
dosage = 5
duration = 4
instruction = " Please take {} in {}ml for every {} hours with water as per instruction .".format(medicine,dosage,duration)
print(instruction)

 Please take Paracetamol in 5ml for every 4 hours with water as per instruction .

In [ ]:
medicine="Paracetamol"
dosage = 5
duration = 4
instruction_kids = " Please take {} in {} ml for every {} hours with water as per doctor's instruction .".format(medicine,dosage,duration)
print(instruction_kids)

 Please take Paracetamol in 5 ml for every 4 hours with water as per doctor's instruction .

In [ ]:
instruction

" Please take Paracetamol in 5 ml for every 4 hours with water as per doctor's instruction ."

In [ ]:
medicine="Paracetamol"
dosage = 7
duration = 3
Frequency = 3
instruction_Adult = " Please take {} in {} ml for every {} hours ,{} times a day with water as per doctor's instruction .".format(medicine,dosage,duration,Frequency)
print(instruction_Adult)

 Please take Paracetamol in 7 ml for every 3 hours ,3 times a day with water as per doctor's instruction .

In [ ]:
instruction_kids

" Please take Paracetamol in 5 ml for every 4 hours with water as per doctor's instruction ."

In [ ]:
instruction_Adult

" Please take Paracetamol in 7 ml for every 3 hours ,3 times a day with water as per doctor's instruction ."

In [ ]:
follow ="{medicine} : Please take {dosage} ml in {duration} hours durations {frequency} times a day with warm water as per physician instruciton ".format(medicine = "Paracetamol" , dosage = 5 , duration = 4 , frequency = 3)
print(follow)

Paracetamol : Please take 5 ml in 4 hours durations 3 times a day with warm water as per physician instruciton

In [ ]:
Doctor_word = "apply {balm} on {body} {duration} a day ".format( balm = " Tiger " , body = " legs " , duration = 3)
print(Doctor_word)

apply  Tiger  on  legs  3 a day

In [ ]:
width = 5
height = 10
area = width * height
perimeter = 2 * (width + height)
print(f'The perimeter is { perimeter} and the area is {area}.')

The perimeter is 30 and the area is 50.

In [ ]:
multiplication = 5 * 9
multiplication = 5 * 10
multiplication = 5 * 11
multiplication = 5 * 12
print(f'5 x 9 = {multiplication}')
print(f'5 x 10 = {multiplication}')
print(f'5 x 11 = {multiplication}')
print(f'5 x 12 = {multiplication}')

5 x 8 = 45
5 x 9 = 45

In [ ]:
5 * 9

45

In [ ]:

multiplication = 5 * 1
multiplication = 5 * 2
multiplication = 5 * 3
multiplication = 5 * 4
multiplication = 5 * 5
multiplication = 5 * 6
multiplication = 5 * 7
multiplication = 5 * 8
multiplication = 5 * 9
multiplication = 5 * 10
multiplication = 5 * 11
multiplication = 5 * 12
print(f'5 x 1 = {multiplication}')
print(f'5 x 2 = {multiplication}')
print(f'5 x 3 = {multiplication}')
print(f'5 x 4 = {multiplication}')
print(f'5 x 5 = {multiplication}')
print(f'5 x 6 = {multiplication}')
print(f'5 x 7 = {multiplication}')
print(f'5 x 8 = {multiplication}')
print(f'5 x 9 = {multiplication}')
print(f'5 x 10 = {multiplication}')
print(f'5 x 11 = {multiplication}')
print(f'5 x 12 = {multiplication}')

5 x 1 = 60
5 x 2 = 60
5 x 3 = 60
5 x 4 = 60
5 x 5 = 60
5 x 6 = 60
5 x 7 = 60
5 x 8 = 60
5 x 9 = 60
5 x 10 = 60
5 x 11 = 60
5 x 12 = 60

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
5 * 1

5

In [ ]:
5 *2

10

In [ ]:
6 *1

6

In [ ]:
multiplication1= 5 * 1
multiplication2 = 5 * 2
multiplication3= 5 * 3
multiplication4 = 5 * 4
multiplication5= 5 * 5
multiplication6= 5 * 6
multiplication7= 5 * 7
multiplication8= 5 * 8
multiplication9= 5 * 9
multiplication10= 5 * 10
multiplication11= 5 * 11
multiplication12= 5 * 12
print(f'5 x 1 = {multiplication1}')
print(f'5 x 2 = {multiplication2}')
print(f'5 x 3 = {multiplication3}')
print(f'5 x 4 = {multiplication4}')
print(f'5 x 5 = {multiplication5}')
print(f'5 x 6 = {multiplication6}')
print(f'5 x 7 = {multiplication7}')
print(f'5 x 8 = {multiplication8}')
print(f'5 x 9 = {multiplication9}')
print(f'5 x 10 = {multiplication10}')
print(f'5 x 11 = {multiplication11}')
print(f'5 x 12 = {multiplication12}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

In [ ]:
multiplication1= 6 * 1
multiplication2= 6 * 2
multiplication3= 6 * 3
multiplication4= 6 * 4
multiplication5= 6 * 5
multiplication6= 6 * 6
multiplication7= 6 * 7
multiplication8= 6 * 8
multiplication9= 6 * 9
multiplication10= 6 * 10
multiplication11= 6 * 11
multiplication12= 6 * 12
print(f'6 x 1 = {multiplication1}')
print(f'6 x 2 = {multiplication2}')
print(f'6 x 3 = {multiplication3}')
print(f'6 x 4 = {multiplication4}')
print(f'6 x 5 = {multiplication5}')
print(f'6 x 6 = {multiplication6}')
print(f'6 x 7 = {multiplication7}')
print(f'6 x 8 = {multiplication8}')
print(f'6 x 9 = {multiplication9}')
print(f'6 x 10 = {multiplication10}')
print(f'6 x 11 = {multiplication11}')
print(f'6 x 12 = {multiplication12}')

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72

In [ ]:
message = str.capitalize(" HLA MYO ")
print(message)

 hla myo

In [ ]:
message = str.capitalize("hla myo")
print(message)

Hla myo

In [ ]:
"hla myo".capitalize()

'Hla myo'

In [ ]:
"hla myo".upper()

'HLA MYO'

In [ ]:
"hla myo".lower()

'hla myo'

In [ ]:
"hla myo".title()

'Hla Myo'

In [ ]:
"hla myo".swapcase()

'HLA MYO'

In [ ]:
"hla myo".casefold()

'hla myo'

In [ ]:
"hla myo".center(50)

'                     hla myo                      '

In [ ]:
"hla myo".center(50,"*")

'*********************hla myo**********************'

In [ ]:
name = input("Enter your name:")
print("Hello !" + name + ","+ " welcome singapore")

Enter your name:ko hla myo
Hello !ko hla myo, welcome singapore

In [ ]:
age = input ( " Enter your age :")
print("your age is " + age + " years old")

 Enter your age :44
your age is 44 years old

In [ ]:
age = input ( " Enter your age :")
print("your age is " + age + " years old")

 Enter your age :43
your age is 43 years old

In [ ]:
x = 5
y = 10
z = x + y
print(z)

15

In [ ]:
x = "4"
y = "5"
z = x + y
print(z)

45

In [ ]:
z = int(x) + int(y)
print(z)

9

In [ ]:
bill = int(input())
print(int(bill * 20 / 100))

20
4

In [ ]:
num = 6
if num > 7 :
  print("greater than 7")
  if num > 6:
    print("greater than 6")
if num > 5:
      print("greater than 5")
else:
  print("less than 5")

greater than 5

In [ ]:
x = 528
if x == 1500:
  print("yes")
elif x <150:
  print("no")
else:
  print("may be")

may be

In [ ]:
num =3
if num == 1:
  print("one")
  if num == 2:
    print("two")
if num == 3:
      print("three")
      if num == 4:
        print("four")
        if num == 5:
          print("five")
else:
  print("may be")

three

In [ ]:
grade = int ( input ( " Enter your grade : "))
if grade >= 90 :
  lettergrade = "A"
elif grade >= 80:
  lettergrade = "B"
elif grade >= 70:
  lettergrade = "C"
elif grade >= 60:
  lettergrade = "D"
elif grade >= 50:
  lettergrade = "E"
elif grade >= 40:
  lettergrade = "F"
else:
  lettergrade = "Fail"
print("Your Lettergrade is " + lettergrade + " .")

 Enter your grade : 60
Your Lettergrade is D .

In [ ]:
mark = int ( input("Enter your mark :   "))
if mark < 40 :
    print("You have failed")
elif mark > 40 :
    print("You have passed.")
elif mark > 60 :
    print("You have credited.")
elif mark > 70 :
    print("You have outstanding")
elif mark > 90 :
    print("You have super - outstanding")
else:
    print("Input error")

Enter your mark :   90
You have passed.

In [ ]:
mark = int ( input("Enter your mark :   "))
if mark < 40 :
    print("You have failed")
elif mark > 40 and mark <= 65 :
    print("You have passed.")
elif mark > 65 and mark <= 80 :
    print("You have credited ")
else:
    print("Input error")

Enter your mark :   90
Input error

In [ ]:
password = ""
while password != "hlamyo":
  password = input (" Enter your password :")
print("login in valid")

 Enter your password :hla
 Enter your password :myo
 Enter your password :hlamyo
login in valid

In [ ]:
while password != "hm" :
  password = input (" Enter your password :")
print(" login in valid")

 Enter your password :h
 Enter your password :m
 Enter your password :mf
 Enter your password :hm
login in valid

In [ ]:
while key != "hm123" :
  key ( input ( " Enter your key : "))
print("go on!")

NameError: name 'key' is not defined

In [ ]:
key=""
while key != "hm123" :
  key ( input ( " Enter your key : "))
print("go on!")

 Enter your key : 123

TypeError: 'str' object is not callable

In [ ]:
key=""
while key != "123" :
  key = ( input ( " Enter your key : "))
print("go on!")

 Enter your key : gh
 Enter your key : dghh
 Enter your key : 123
go on!

In [ ]:
i = 1
while i <= 5 :
  print(i)
  i = i + 1
print("finished !")

1
2
3
4
5
finished !

In [ ]:
import seaborn as sb
sb.load_dataset('tips')
df = sb.load_dataset('tips')

In [ ]:
for a in df['total_bill']:
  print(a)

16.99
10.34
21.01
23.68
24.59
25.29
8.77
26.88
15.04
14.78
10.27
35.26
15.42
18.43
14.83
21.58
10.33
16.29
16.97
20.65
17.92
20.29
15.77
39.42
19.82
17.81
13.37
12.69
21.7
19.65
9.55
18.35
15.06
20.69
17.78
24.06
16.31
16.93
18.69
31.27
16.04
17.46
13.94
9.68
30.4
18.29
22.23
32.4
28.55
18.04
12.54
10.29
34.81
9.94
25.56
19.49
38.01
26.41
11.24
48.27
20.29
13.81
11.02
18.29
17.59
20.08
16.45
3.07
20.23
15.01
12.02
17.07
26.86
25.28
14.73
10.51
17.92
27.2
22.76
17.29
19.44
16.66
10.07
32.68
15.98
34.83
13.03
18.28
24.71
21.16
28.97
22.49
5.75
16.32
22.75
40.17
27.28
12.03
21.01
12.46
11.35
15.38
44.3
22.42
20.92
15.36
20.49
25.21
18.24
14.31
14.0
7.25
38.07
23.95
25.71
17.31
29.93
10.65
12.43
24.08
11.69
13.42
14.26
15.95
12.48
29.8
8.52
14.52
11.38
22.82
19.08
20.27
11.17
12.26
18.26
8.51
10.33
14.15
16.0
13.16
17.47
34.3
41.19
27.05
16.43
8.35
18.64
11.87
9.78
7.51
14.07
13.13
17.26
24.55
19.77
29.85
48.17
25.0
13.39
16.49
21.5
12.66
16.21
13.81
17.51
24.52
20.76
31.71
10.59
10.63
50.81
15.81
7.25
31.85
16.82
32.9
17.89
14.48
9.6
34.63
34.65
23.33
45.35
23.17
40.55
20.69
20.9
30.46
18.15
23.1
15.69
19.81
28.44
15.48
16.58
7.56
10.34
43.11
13.0
13.51
18.71
12.74
13.0
16.4
20.53
16.47
26.59
38.73
24.27
12.76
30.06
25.89
48.33
13.27
28.17
12.9
28.15
11.59
7.74
30.14
12.16
13.42
8.58
15.98
13.42
16.27
10.09
20.45
13.28
22.12
24.01
15.69
11.61
10.77
15.53
10.07
12.6
32.83
35.83
29.03
27.18
22.67
17.82
18.78

In [ ]:
for a in df['total_bill']:
  if a > 1 and a <= 10 :
    print("Eco")
  elif a > 10 and a <= 20:
    print("Business")
  elif a > 20 and a <= 30:
    print("First")
  else:
    print("Premium")

Business
Business
First
First
First
First
Eco
First
Business
Business
Business
Premium
Business
Business
Business
First
Business
Business
Business
First
Business
First
Business
Premium
Business
Business
Business
Business
First
Business
Eco
Business
Business
First
Business
First
Business
Business
Business
Premium
Business
Business
Business
Eco
Premium
Business
First
Premium
First
Business
Business
Business
Premium
Eco
First
Business
Premium
First
Business
Premium
First
Business
Business
Business
Business
First
Business
Eco
First
Business
Business
Business
First
First
Business
Business
Business
First
First
Business
Business
Business
Business
Premium
Business
Premium
Business
Business
First
First
First
First
Eco
Business
First
Premium
First
Business
First
Business
Business
Business
Premium
First
First
Business
First
First
Business
Business
Business
Eco
Premium
First
First
Business
First
Business
Business
First
Business
Business
Business
Business
Business
First
Eco
Business
Business
First
Business
First
Business
Business
Business
Eco
Business
Business
Business
Business
Business
Premium
Premium
First
Business
Eco
Business
Business
Eco
Eco
Business
Business
Business
First
Business
First
Premium
First
Business
Business
First
Business
Business
Business
Business
First
First
Premium
Business
Business
Premium
Business
Eco
Premium
Business
Premium
Business
Business
Eco
Premium
Premium
First
Premium
First
Premium
First
First
Premium
Business
First
Business
Business
First
Business
Business
Eco
Business
Premium
Business
Business
Business
Business
Business
Business
First
Business
First
Premium
First
Business
Premium
First
Premium
Business
First
Business
First
Business
Eco
Premium
Business
Business
Eco
Business
Business
Business
Business
First
Business
First
First
Business
Business
Business
Business
Business
Business
Premium
Premium
First
First
First
Business
Business

In [ ]:
import seaborn as sb
sb.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
df = sb.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
range(0,10,1)

range(0, 10)

In [ ]:
range

range

In [ ]:
a = []
for i in range(0,10,2):
  a.append(i)

In [ ]:
a

[0, 2, 4, 6, 8]

In [ ]:
a = []
for i in range(0,10,2):
  a.append(i)
  print(a)

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]

In [ ]:
b = []
for i in ["hello","hi"]:
  b.upper(i)

AttributeError: 'list' object has no attribute 'upper'

In [ ]:
for a,b in [['a','b'],[100,200]]:
  print(a)
  print(b)

a
b
100
200

In [ ]:
print(b)

200

In [ ]:
a = [ 'car' ,'train']
b = [100 ,200 ]

In [ ]:
zip(a,b)

In [ ]:
list('<zip at 0x7b844f81afc0>')

['<',
 'z',
 'i',
 'p',
 ' ',
 'a',
 't',
 ' ',
 '0',
 'x',
 '7',
 'b',
 '8',
 '4',
 '4',
 'f',
 '8',
 '1',
 'a',
 'f',
 'c',
 '0',
 '>']

In [ ]:
for i in zip(a,b):
  print(i)

('car', 100)
('train', 200)

In [ ]:
def change(x):
  return x.lower()

In [ ]:
change('HLA')

'hla'

In [ ]:
change('MYO')

'myo'

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/KaungAlex/pandas/main/top_10_countries.csv')

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/KaungAlex/pandas/main/top_10_countries.csv')

In [ ]:
df

   Rank Country / Dependency    Region    Population % of world       Date
0     1                China      Asia  1.412600e+09     17.80%  31-Dec-21
1     2                India      Asia  1.386947e+09     17.50%  18-Jan-22
2     3        United States  Americas  3.330732e+08      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia  2.713500e+08      3.42%  31-Dec-20
4     5             Pakistan      Asia  2.252000e+08      2.84%  01-Jul-21
5     6               Brazil  Americas  2.142316e+08      2.70%  18-Jan-22
6     7              Nigeria    Africa  2.114010e+08      2.67%  01-Jul-21
7     8           Bangladesh      Asia  1.720626e+08      2.17%  18-Jan-22
8     9            Russia[b]    Europe  1.461710e+08      1.84%  01-Jan-21
9    10               Mexico  Americas  1.260140e+08      1.59%  02-Mar-20

In [ ]:
df['region']

KeyError: 'region'

In [ ]:
df.iloc[1,2]

'Asia'

In [ ]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/KaungAlex/pandas/main/Pandas_EX1.csv')

In [ ]:
df

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
df[::-1]

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America

In [ ]:
df.tail(1)

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
(df['Gender']== 'M') & (df['Sum of TotalChildren'] > 3)

0        False
1        False
2        False
3        False
4        False
         ...
29994    False
29995    False
29996     True
29997     True
29998    False
Length: 29999, dtype: bool

In [ ]:
df[(df['Gender']== 'M') & (df['Sum of TotalChildren'] > 3)]

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
17,1/4/15 0:00,MR. RICHARD PARKER,11/15/58 0:00,M,richard36@adventure-works.com,"$80,000",5,Graduate Degree,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Northwest,United States,North America
21,1/5/15 0:00,MR. ADAM PHILLIPS,9/13/46 0:00,M,adam36@adventure-works.com,"$70,000",5,Bachelors,Management,Y,...,This bike is ridden by race winners. Developed...,Red,52,U,3578.2700,1,Road Bikes,Canada,Canada,North America
23,1/5/15 0:00,MR. MIGUEL GREEN,7/22/60 0:00,M,miguel31@adventure-works.com,"$120,000",5,High School,Professional,Y,...,This bike is ridden by race winners. Developed...,Red,62,U,3578.2700,1,Road Bikes,Southwest,United States,North America
30,1/7/15 0:00,MR. BRENDAN XU,11/23/66 0:00,M,brendan4@adventure-works.com,"$10,000",4,Partial High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,44,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
34,1/8/15 0:00,MR. ADAM HILL,9/4/58 0:00,M,adam43@adventure-works.com,"$80,000",5,Bachelors,Professional,N,...,This bike is ridden by race winners. Developed...,Red,56,U,3578.2700,1,Road Bikes,Australia,Australia,Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29899,2/3/17 0:00,MR. JUSTIN SMITH,3/11/64 0:00,M,justin32@adventure-works.com,"$80,000",4,Bachelors,Management,Y,...,Clip-on fenders fit most mountain bikes.,NaN,0,0,21.9800,1,Fenders,Canada,Canada,North America
29920,2/3/17 0:00,MR. WILLIAM MOORE,3/2/50 0:00,M,william23@adventure-works.com,"$70,000",4,Partial College,Professional,Y,...,Lightweight carbon reinforced for an unrivale...,NaN,0,0,32.6000,1,Tires and Tubes,Southwest,United States,North America
29921,2/3/17 0:00,MR. WILLIAM MOORE,3/2/50 0:00,M,william23@adventure-works.com,"$70,000",4,Partial College,Professional,Y,...,Conventional all-purpose tube.,NaN,0,0,3.9900,2,Tires and Tubes,Southwest,United States,North America
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America

In [ ]:
 df[(df['Gender']== 'F') & (df['Occupation'] == 'Management')]

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
28,1/6/15 0:00,MRS. TAYLOR THOMAS,5/15/53 0:00,F,taylor58@adventure-works.com,"$70,000",3,Graduate Degree,Management,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
40,1/8/15 0:00,MRS. VICTORIA GONZALES,7/17/70 0:00,F,victoria63@adventure-works.com,"$80,000",4,Graduate Degree,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Silver,38,U,3399.9900,1,Mountain Bikes,Australia,Australia,Pacific
47,1/10/15 0:00,MRS. DAWN NATH,11/22/69 0:00,F,dawn42@adventure-works.com,"$110,000",1,Graduate Degree,Management,N,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
55,1/11/15 0:00,MRS. RILEY BROOKS,1/27/36 0:00,F,riley21@adventure-works.com,"$90,000",4,Bachelors,Management,N,...,This bike is ridden by race winners. Developed...,Red,62,U,3578.2700,1,Road Bikes,Southwest,United States,North America
62,1/12/15 0:00,MRS. JANET SCOTT,8/18/53 0:00,F,janet33@adventure-works.com,"$70,000",3,Graduate Degree,Management,Y,...,This bike is ridden by race winners. Developed...,Red,62,U,3578.2700,1,Road Bikes,Southwest,United States,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29783,2/1/17 0:00,MRS. VICTORIA SMITH,1/19/61 0:00,F,victoria1@adventure-works.com,"$130,000",1,Bachelors,Management,Y,...,Serious back-country riding. Perfect for all l...,Black,46,U,2049.0982,1,Mountain Bikes,Southwest,United States,North America
29784,2/1/17 0:00,MRS. VICTORIA SMITH,1/19/61 0:00,F,victoria1@adventure-works.com,"$130,000",1,Bachelors,Management,Y,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Southwest,United States,North America
29785,2/1/17 0:00,MRS. VICTORIA SMITH,1/19/61 0:00,F,victoria1@adventure-works.com,"$130,000",1,Bachelors,Management,Y,...,AWC logo water bottle - holds 30 oz; leak-proof.,NaN,0,0,4.9900,2,Bottles and Cages,Southwest,United States,North America
29952,2/3/17 0:00,MRS. LEAH CAI,5/20/58 0:00,F,leah17@adventure-works.com,"$130,000",2,Bachelors,Management,Y,...,Serious back-country riding. Perfect for all l...,Silver,46,U,2071.4196,1,Mountain Bikes,Germany,Germany,Europe
29953,2/3/17 0:00,MRS. LEAH CAI,5/20/58 0:00,F,leah17@adventure-works.com,"$130,000",2,Bachelors,Management,Y,...,"Incredible traction, lightweight carbon reinfo...",NaN,0,0,35.0000,1,Tires and Tubes,Germany,Germany,Europe

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  object
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29799 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          16367 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: float64(1), int64(2), object(19)
memory usage: 5.0+ MB

In [ ]:
df.isna().sum()

OrderDate                   0
Name                        0
BirthDate                   0
Gender                    200
EmailAddress                0
AnnualIncome                0
Sum of TotalChildren        0
EducationLevel              0
Occupation                  0
HomeOwner                   0
ProductSKU                  0
ProductName                 0
ProductDescription          0
ProductColor            13632
ProductSize                 0
ProductStyle                0
Sum of ProductPrice         0
Sum of OrderQuantity        0
SubcategoryName             0
Region                      0
Country                     0
Continent                   0
dtype: int64

In [ ]:
df['ProductColor'].fillna('No Color',inplace=True)

In [ ]:
pd.to_datetime(df['BirthDate'])

<ipython-input-36-5d684a994bbf>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df['BirthDate'])

0       2058-11-11
1       2055-04-11
2       1974-04-21
3       1980-09-25
4       2065-01-11
           ...
29994   1976-07-08
29995   1976-07-08
29996   2060-03-12
29997   2060-03-12
29998   2057-04-04
Name: BirthDate, Length: 29999, dtype: datetime64[ns]

In [ ]:
df

<ipython-input-37-c88251551769>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['BirthDate'] = pd.to_datetime(df['BirthDate'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  object
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  datetime64[ns]
 3   Gender                29799 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          29999 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(18)
memory usage: 5.0+ MB

In [ ]:
pd.to_datetime(df['OrderDate'])

<ipython-input-39-5bbaff556be4>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df['OrderDate'])

0       2015-01-01
1       2015-01-01
2       2015-01-01
3       2015-01-01
4       2015-01-02
           ...
29994   2017-02-04
29995   2017-02-04
29996   2017-02-04
29997   2017-02-04
29998   2017-02-04
Name: OrderDate, Length: 29999, dtype: datetime64[ns]

In [ ]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])

<ipython-input-40-b3b3d15d6267>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['OrderDate'] = pd.to_datetime(df['OrderDate'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  datetime64[ns]
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  datetime64[ns]
 3   Gender                29799 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          29999 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(17)
memory usage: 5.0+ MB

In [ ]:
df['order_year'] = df['OrderDate'].dt.year

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  datetime64[ns]
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  datetime64[ns]
 3   Gender                29799 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          29999 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
 22  order_year            29999 non-null  int32
dtypes: datetime64[ns](2), float64(1), int32(1), int64(2), object(17)
memory usage: 5.1+ MB

In [ ]:
df[df['OrderDate'] == df['OrderDate'].dt.month]

Empty DataFrame
Columns: [OrderDate, Name, BirthDate, Gender, EmailAddress, AnnualIncome, Sum of TotalChildren, EducationLevel, Occupation, HomeOwner, ProductSKU, ProductName, ProductDescription, ProductColor, ProductSize, ProductStyle, Sum of ProductPrice, Sum of OrderQuantity, SubcategoryName, Region, Country, Continent, order_year]
Index: []

[0 rows x 23 columns]

In [ ]:
df[df['order_year'] == df['OrderDate'].dt.year]

Empty DataFrame
Columns: [OrderDate, Name, BirthDate, Gender, EmailAddress, AnnualIncome, Sum of TotalChildren, EducationLevel, Occupation, HomeOwner, ProductSKU, ProductName, ProductDescription, ProductColor, ProductSize, ProductStyle, Sum of ProductPrice, Sum of OrderQuantity, SubcategoryName, Region, Country, Continent, order_year]
Index: []

[0 rows x 23 columns]

In [ ]:
df.split('OrderDate')

AttributeError: 'DataFrame' object has no attribute 'split'

In [ ]:
df['year'] == df['OrderDate'].dt.year()

KeyError: 'year'

In [ ]:
df.drop(columns = ['ProductsDescription','ProductStyle','ProductSize'],inplace=True)

KeyError: "['ProductsDescription'] not found in axis"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  datetime64[ns]
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  datetime64[ns]
 3   Gender                29799 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductName           29999 non-null  object
 11  ProductDescription    29999 non-null  object
 12  ProductColor          29999 non-null  object
 13  ProductSize           29999 non-null  object
 14  ProductStyle          29999 non-null  object
 15  Sum of ProductPrice   29999 non-null  float64
 16  Sum of OrderQuantity  29999 non-null  int64
 17  SubcategoryName       29999 non-null  object
 18  Region                29999 non-null  object
 19  Country               29999 non-null  object
 20  Continent             29999 non-null  object
 21  order_year            29999 non-null  int32
dtypes: datetime64[ns](2), float64(1), int32(1), int64(2), object(16)
memory usage: 4.9+ MB

In [ ]:
df.rename(columns={'Sum of TotalChildren':'TotalChildren'},inplace=True)

In [ ]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/KaungAlex/pandas/main/tfl-daily-cycle-hires.csv')

In [ ]:
df

             Day  Number of Bicycle Hires  Unnamed: 2
0     30/07/2010                   6897.0         NaN
1     31/07/2010                   5564.0         NaN
2     01/08/2010                   4303.0         NaN
3     02/08/2010                   6642.0         NaN
4     03/08/2010                   7966.0         NaN
...          ...                      ...         ...
4076  26/09/2021                  45120.0         NaN
4077  27/09/2021                  32167.0         NaN
4078  28/09/2021                  32539.0         NaN
4079  29/09/2021                  39889.0         NaN
4080  30/09/2021                  34070.0         NaN

[4081 rows x 3 columns]

In [ ]:
df['Day'].sort_values(by='Number of Bicycle Hires',ascending=False)

TypeError: Series.sort_values() got an unexpected keyword argument 'by'

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('https://raw.githubusercontent.com/KaungAlex/pandas/main/top_10_countries.csv')

   Rank Country / Dependency    Region    Population % of world       Date
0     1                China      Asia  1.412600e+09     17.80%  31-Dec-21
1     2                India      Asia  1.386947e+09     17.50%  18-Jan-22
2     3        United States  Americas  3.330732e+08      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia  2.713500e+08      3.42%  31-Dec-20
4     5             Pakistan      Asia  2.252000e+08      2.84%  01-Jul-21
5     6               Brazil  Americas  2.142316e+08      2.70%  18-Jan-22
6     7              Nigeria    Africa  2.114010e+08      2.67%  01-Jul-21
7     8           Bangladesh      Asia  1.720626e+08      2.17%  18-Jan-22
8     9            Russia[b]    Europe  1.461710e+08      1.84%  01-Jan-21
9    10               Mexico  Americas  1.260140e+08      1.59%  02-Mar-20

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/KaungAlex/pandas/main/top_10_countries.csv')

In [ ]:
df

   Rank Country / Dependency    Region    Population % of world       Date
0     1                China      Asia  1.412600e+09     17.80%  31-Dec-21
1     2                India      Asia  1.386947e+09     17.50%  18-Jan-22
2     3        United States  Americas  3.330732e+08      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia  2.713500e+08      3.42%  31-Dec-20
4     5             Pakistan      Asia  2.252000e+08      2.84%  01-Jul-21
5     6               Brazil  Americas  2.142316e+08      2.70%  18-Jan-22
6     7              Nigeria    Africa  2.114010e+08      2.67%  01-Jul-21
7     8           Bangladesh      Asia  1.720626e+08      2.17%  18-Jan-22
8     9            Russia[b]    Europe  1.461710e+08      1.84%  01-Jan-21
9    10               Mexico  Americas  1.260140e+08      1.59%  02-Mar-20

In [ ]:
df['Region']

0        Asia
1        Asia
2    Americas
3        Asia
4        Asia
5    Americas
6      Africa
7        Asia
8      Europe
9    Americas
Name: Region, dtype: object

In [ ]:
df['Region']

0        Asia
1        Asia
2    Americas
3        Asia
4        Asia
5    Americas
6      Africa
7        Asia
8      Europe
9    Americas
Name: Region, dtype: object

In [ ]:
df[['Rank','Region']]

   Rank    Region
0     1      Asia
1     2      Asia
2     3  Americas
3     4      Asia
4     5      Asia
5     6  Americas
6     7    Africa
7     8      Asia
8     9    Europe
9    10  Americas

In [ ]:
df

   Rank Country / Dependency    Region    Population % of world       Date
0     1                China      Asia  1.412600e+09     17.80%  31-Dec-21
1     2                India      Asia  1.386947e+09     17.50%  18-Jan-22
2     3        United States  Americas  3.330732e+08      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia  2.713500e+08      3.42%  31-Dec-20
4     5             Pakistan      Asia  2.252000e+08      2.84%  01-Jul-21
5     6               Brazil  Americas  2.142316e+08      2.70%  18-Jan-22
6     7              Nigeria    Africa  2.114010e+08      2.67%  01-Jul-21
7     8           Bangladesh      Asia  1.720626e+08      2.17%  18-Jan-22
8     9            Russia[b]    Europe  1.461710e+08      1.84%  01-Jan-21
9    10               Mexico  Americas  1.260140e+08      1.59%  02-Mar-20

In [ ]:
type(df[['Rank','Region']])

pandas.core.frame.DataFrame

In [ ]:
df.info()

NameError: name 'df' is not defined

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('https://raw.githubusercontent.com/KaungAlex/pandas/main/Pandas_EX1.csv')

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/KaungAlex/pandas/main/Pandas_EX1.csv')

In [ ]:
df

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
df['OrderDate']

0        1/1/15 0:00
1        1/1/15 0:00
2        1/1/15 0:00
3        1/1/15 0:00
4        1/2/15 0:00
            ...
29994    2/4/17 0:00
29995    2/4/17 0:00
29996    2/4/17 0:00
29997    2/4/17 0:00
29998    2/4/17 0:00
Name: OrderDate, Length: 29999, dtype: object

In [ ]:
df[['OrderDate','Name']]

         OrderDate                 Name
0      1/1/15 0:00      MR. JOHN THOMAS
1      1/1/15 0:00  MR. KYLE WASHINGTON
2      1/1/15 0:00        MR. ROSS SANZ
3      1/1/15 0:00       MR. SETH LEWIS
4      1/2/15 0:00   MR. ALEJANDRO CHEN
...            ...                  ...
29994  2/4/17 0:00      MR. CLAYTON JAI
29995  2/4/17 0:00      MR. CLAYTON JAI
29996  2/4/17 0:00      MR. CONNOR KING
29997  2/4/17 0:00      MR. CONNOR KING
29998  2/4/17 0:00     MR. DALTON PEREZ

[29999 rows x 2 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  object
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29799 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          16367 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: float64(1), int64(2), object(19)
memory usage: 5.0+ MB

In [ ]:
df

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
df.iloc[1]

OrderDate                                                     1/1/15 0:00
Name                                                  MR. KYLE WASHINGTON
BirthDate                                                    4/11/55 0:00
Gender                                                                  M
EmailAddress                                    kyle8@adventure-works.com
AnnualIncome                                                     $80,000
Sum of TotalChildren                                                    3
EducationLevel                                            Partial College
Occupation                                                   Professional
HomeOwner                                                               N
ProductSKU                                                     BK-R93R-48
ProductName                                              Road-150 Red, 48
ProductDescription      This bike is ridden by race winners. Developed...
ProductColor                                                          Red
ProductSize                                                            48
ProductStyle                                                            U
Sum of ProductPrice                                               3578.27
Sum of OrderQuantity                                                    1
SubcategoryName                                                Road Bikes
Region                                                          Southwest
Country                                                     United States
Continent                                                   North America
Name: 1, dtype: object

In [ ]:
df.iloc[1:3]

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.27,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.99,1,Mountain Bikes,Australia,Australia,Pacific

In [ ]:
df

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
df.head(5)

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe

In [ ]:
df.iloc[1,4]

'kyle8@adventure-works.com'

In [ ]:
df.iloc[3,7]

'High School'

In [ ]:
df

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
df.loc[1,'BirthDate']

'4/11/55 0:00'

In [ ]:
df.loc[29995,'EmailAddress']

'clayton29@adventure-works.com'

In [ ]:
df.iloc[29995,4]

'clayton29@adventure-works.com'

In [ ]:
df[df['EducationLevel']== 'High School']

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
12,1/3/15 0:00,MRS. ADRIENNE GUTIERREZ,4/13/52 0:00,F,adrienne7@adventure-works.com,"$30,000",3,High School,Skilled Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Australia,Australia,Pacific
16,1/4/15 0:00,MR. GEORGE MCDONALD,10/23/69 0:00,M,george13@adventure-works.com,"$10,000",2,High School,Manual,Y,...,Top-of-the-line competition mountain bike. Per...,Silver,38,U,3399.9900,1,Mountain Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29966,2/3/17 0:00,MS. HANNAH JACKSON,2/6/75 0:00,F,hannah11@adventure-works.com,"$40,000",0,High School,Skilled Manual,Y,...,"Universal fit, well-vented, lightweight , snap...",Red,0,0,34.9900,1,Helmets,Canada,Canada,North America
29967,2/3/17 0:00,MS. HANNAH JACKSON,2/6/75 0:00,F,hannah11@adventure-works.com,"$40,000",0,High School,Skilled Manual,Y,...,Unisex long-sleeve AWC logo microfiber cycling...,Multi,S,U,48.0673,1,Jerseys,Canada,Canada,North America
29972,2/3/17 0:00,MS. MADELINE CARTER,8/4/74 0:00,F,madeline10@adventure-works.com,"$50,000",0,High School,Professional,Y,...,"Heavy duty, abrasion-resistant shorts feature ...",Black,L,W,69.9900,1,Shorts,Canada,Canada,North America
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America

In [ ]:
df['Gender'].unique()

array(['M', 'F', nan], dtype=object)

In [ ]:
df['Gender']== 'M'

0        True
1        True
2        True
3        True
4        True
         ...
29994    True
29995    True
29996    True
29997    True
29998    True
Name: Gender, Length: 29999, dtype: bool

In [ ]:
df[df['Gender']=='M']

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
df[(df['Gender']=='M') and (df['AnnualIncome'] == 8000)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
df[(df['Gender']=='M') & (df['AnnualIncome'] == 8000)]

Empty DataFrame
Columns: [OrderDate, Name, BirthDate, Gender, EmailAddress, AnnualIncome, Sum of TotalChildren, EducationLevel, Occupation, HomeOwner, ProductSKU, ProductName, ProductDescription, ProductColor, ProductSize, ProductStyle, Sum of ProductPrice, Sum of OrderQuantity, SubcategoryName, Region, Country, Continent]
Index: []

[0 rows x 22 columns]

In [ ]:
df[df['AnnualIncome'] > 8000]

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
df

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
df['AnnualIncome']>8000

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
df[df['AnnualIncome']>=80000]

TypeError: '>=' not supported between instances of 'str' and 'int'

In [ ]:
df

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
df[(df['AnnualIncome']=='80000')]

Empty DataFrame
Columns: [OrderDate, Name, BirthDate, Gender, EmailAddress, AnnualIncome, Sum of TotalChildren, EducationLevel, Occupation, HomeOwner, ProductSKU, ProductName, ProductDescription, ProductColor, ProductSize, ProductStyle, Sum of ProductPrice, Sum of OrderQuantity, SubcategoryName, Region, Country, Continent]
Index: []

[0 rows x 22 columns]

In [ ]:
df['AnnualIncome'].unique()

array(['$80,000 ', '$100,000 ', '$30,000 ', '$20,000 ', '$70,000 ',
       '$60,000 ', '$40,000 ', '$10,000 ', '$120,000 ', '$130,000 ',
       '$170,000 ', '$90,000 ', '$110,000 ', '$160,000 ', '$150,000 ',
       '$50,000 '], dtype=object)

In [ ]:
df [(df['Gender']=='M') & (df['AnnualIncome'] == 80000)]

Empty DataFrame
Columns: [OrderDate, Name, BirthDate, Gender, EmailAddress, AnnualIncome, Sum of TotalChildren, EducationLevel, Occupation, HomeOwner, ProductSKU, ProductName, ProductDescription, ProductColor, ProductSize, ProductStyle, Sum of ProductPrice, Sum of OrderQuantity, SubcategoryName, Region, Country, Continent]
Index: []

[0 rows x 22 columns]

In [ ]:
df[(df['Gender']== 'M' ) & (df['Sum of TotalChildren']>3)]

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
17,1/4/15 0:00,MR. RICHARD PARKER,11/15/58 0:00,M,richard36@adventure-works.com,"$80,000",5,Graduate Degree,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Northwest,United States,North America
21,1/5/15 0:00,MR. ADAM PHILLIPS,9/13/46 0:00,M,adam36@adventure-works.com,"$70,000",5,Bachelors,Management,Y,...,This bike is ridden by race winners. Developed...,Red,52,U,3578.2700,1,Road Bikes,Canada,Canada,North America
23,1/5/15 0:00,MR. MIGUEL GREEN,7/22/60 0:00,M,miguel31@adventure-works.com,"$120,000",5,High School,Professional,Y,...,This bike is ridden by race winners. Developed...,Red,62,U,3578.2700,1,Road Bikes,Southwest,United States,North America
30,1/7/15 0:00,MR. BRENDAN XU,11/23/66 0:00,M,brendan4@adventure-works.com,"$10,000",4,Partial High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,44,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
34,1/8/15 0:00,MR. ADAM HILL,9/4/58 0:00,M,adam43@adventure-works.com,"$80,000",5,Bachelors,Professional,N,...,This bike is ridden by race winners. Developed...,Red,56,U,3578.2700,1,Road Bikes,Australia,Australia,Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29899,2/3/17 0:00,MR. JUSTIN SMITH,3/11/64 0:00,M,justin32@adventure-works.com,"$80,000",4,Bachelors,Management,Y,...,Clip-on fenders fit most mountain bikes.,NaN,0,0,21.9800,1,Fenders,Canada,Canada,North America
29920,2/3/17 0:00,MR. WILLIAM MOORE,3/2/50 0:00,M,william23@adventure-works.com,"$70,000",4,Partial College,Professional,Y,...,Lightweight carbon reinforced for an unrivale...,NaN,0,0,32.6000,1,Tires and Tubes,Southwest,United States,North America
29921,2/3/17 0:00,MR. WILLIAM MOORE,3/2/50 0:00,M,william23@adventure-works.com,"$70,000",4,Partial College,Professional,Y,...,Conventional all-purpose tube.,NaN,0,0,3.9900,2,Tires and Tubes,Southwest,United States,North America
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America

In [ ]:
df[(df['Gender']== 'M' ) & (df['AnnualIncome']>80000)]

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  object
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29799 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          16367 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: float64(1), int64(2), object(19)
memory usage: 5.0+ MB

In [ ]:
df.isna().sum()

OrderDate                   0
Name                        0
BirthDate                   0
Gender                    200
EmailAddress                0
AnnualIncome                0
Sum of TotalChildren        0
EducationLevel              0
Occupation                  0
HomeOwner                   0
ProductSKU                  0
ProductName                 0
ProductDescription          0
ProductColor            13632
ProductSize                 0
ProductStyle                0
Sum of ProductPrice         0
Sum of OrderQuantity        0
SubcategoryName             0
Region                      0
Country                     0
Continent                   0
dtype: int64

In [ ]:
df[df['Gender'].isna()]

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
153,1/27/15 0:00,RICKY GOMEZ,7/21/59 0:00,NaN,ricky1@adventure-works.com,"$100,000",5,Bachelors,Professional,Y,...,This bike is ridden by race winners. Developed...,Red,56,U,3578.2700,1,Road Bikes,Australia,Australia,Pacific
235,2/9/15 0:00,HAROLD MCDONALD,5/23/60 0:00,NaN,harold11@adventure-works.com,"$20,000",1,Partial College,Manual,N,...,This bike is ridden by race winners. Developed...,Red,52,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
409,3/10/15 0:00,ANGELA PERRY,6/27/73 0:00,NaN,angela10@adventure-works.com,"$50,000",1,Graduate Degree,Skilled Manual,Y,...,This bike is ridden by race winners. Developed...,Red,52,U,3578.2700,1,Road Bikes,Southwest,United States,North America
555,4/3/15 0:00,DENNIS WARE,10/4/50 0:00,NaN,dennis0@adventure-works.com,"$40,000",2,Partial High School,Skilled Manual,Y,...,This bike is ridden by race winners. Developed...,Red,56,U,3578.2700,1,Road Bikes,Canada,Canada,North America
639,4/16/15 0:00,VANESSA WASHINGTON,4/14/73 0:00,NaN,vanessa14@adventure-works.com,"$40,000",0,Graduate Degree,Skilled Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Canada,Canada,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29427,1/30/17 0:00,MISTY CHANDER,4/17/57 0:00,NaN,misty17@adventure-works.com,"$70,000",1,Partial College,Skilled Manual,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Australia,Australia,Pacific
29850,2/3/17 0:00,GAIL BUTLER,2/24/58 0:00,NaN,gail4@adventure-works.com,"$20,000",1,Bachelors,Manual,Y,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,France,France,Europe
29851,2/3/17 0:00,GAIL BUTLER,2/24/58 0:00,NaN,gail4@adventure-works.com,"$20,000",1,Bachelors,Manual,Y,...,Versatile 70 oz hydration pack offers extra st...,Silver,70,0,54.9900,1,Hydration Packs,France,France,Europe
29852,2/3/17 0:00,GAIL BUTLER,2/24/58 0:00,NaN,gail4@adventure-works.com,"$20,000",1,Bachelors,Manual,Y,...,High-density rubber.,NaN,0,0,28.9900,2,Tires and Tubes,France,France,Europe
29853,2/3/17 0:00,GAIL BUTLER,2/24/58 0:00,NaN,gail4@adventure-works.com,"$20,000",1,Bachelors,Manual,Y,...,General purpose tube.,NaN,0,0,4.9900,2,Tires and Tubes,France,France,Europe

In [ ]:
df['Gender'].fillna('Not Defined',inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  object
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29999 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          16367 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: float64(1), int64(2), object(19)
memory usage: 5.0+ MB

In [ ]:
df.isna().sum()

OrderDate                   0
Name                        0
BirthDate                   0
Gender                    200
EmailAddress                0
AnnualIncome                0
Sum of TotalChildren        0
EducationLevel              0
Occupation                  0
HomeOwner                   0
ProductSKU                  0
ProductName                 0
ProductDescription          0
ProductColor            13632
ProductSize                 0
ProductStyle                0
Sum of ProductPrice         0
Sum of OrderQuantity        0
SubcategoryName             0
Region                      0
Country                     0
Continent                   0
dtype: int64

In [ ]:
df['ProductColor'].fillna('No Color',inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  object
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29999 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          29999 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: float64(1), int64(2), object(19)
memory usage: 5.0+ MB

In [ ]:
df.isna().sum()

OrderDate               0
Name                    0
BirthDate               0
Gender                  0
EmailAddress            0
AnnualIncome            0
Sum of TotalChildren    0
EducationLevel          0
Occupation              0
HomeOwner               0
ProductSKU              0
ProductName             0
ProductDescription      0
ProductColor            0
ProductSize             0
ProductStyle            0
Sum of ProductPrice     0
Sum of OrderQuantity    0
SubcategoryName         0
Region                  0
Country                 0
Continent               0
dtype: int64

In [ ]:
df.describe()

       Sum of TotalChildren  Sum of ProductPrice  Sum of OrderQuantity
count          29999.000000         29999.000000          29999.000000
mean               1.836095           552.213093              1.474416
std                1.624114           954.975675              0.606983
min                0.000000             2.290000              1.000000
25%                0.000000             8.644200              1.000000
50%                2.000000            33.644200              1.000000
75%                3.000000           699.098200              2.000000
max               10.000000          3578.270000              4.000000

In [ ]:
df

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
df['OrderDate'].astype('datetime64[ns]')

<ipython-input-78-4d83b4d69f4b>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['OrderDate'].astype('datetime64[ns]')

0       2015-01-01
1       2015-01-01
2       2015-01-01
3       2015-01-01
4       2015-01-02
           ...
29994   2017-02-04
29995   2017-02-04
29996   2017-02-04
29997   2017-02-04
29998   2017-02-04
Name: OrderDate, Length: 29999, dtype: datetime64[ns]

In [ ]:
df

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  object
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29999 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          29999 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: float64(1), int64(2), object(19)
memory usage: 5.0+ MB

In [ ]:
df['OrderDate'].astype('datetime64[ns]')

<ipython-input-82-4d83b4d69f4b>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['OrderDate'].astype('datetime64[ns]')

0       2015-01-01
1       2015-01-01
2       2015-01-01
3       2015-01-01
4       2015-01-02
           ...
29994   2017-02-04
29995   2017-02-04
29996   2017-02-04
29997   2017-02-04
29998   2017-02-04
Name: OrderDate, Length: 29999, dtype: datetime64[ns]

In [ ]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])

<ipython-input-83-b3b3d15d6267>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['OrderDate'] = pd.to_datetime(df['OrderDate'])

In [ ]:
pd.to_datetime(df['OrderDate'])

0       2015-01-01
1       2015-01-01
2       2015-01-01
3       2015-01-01
4       2015-01-02
           ...
29994   2017-02-04
29995   2017-02-04
29996   2017-02-04
29997   2017-02-04
29998   2017-02-04
Name: OrderDate, Length: 29999, dtype: datetime64[ns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  datetime64[ns]
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29999 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          29999 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(18)
memory usage: 5.0+ MB

In [ ]:
pd.to_datetime(df['BirthDate'])

<ipython-input-89-5d684a994bbf>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df['BirthDate'])

0       2058-11-11
1       2055-04-11
2       1974-04-21
3       1980-09-25
4       2065-01-11
           ...
29994   1976-07-08
29995   1976-07-08
29996   2060-03-12
29997   2060-03-12
29998   2057-04-04
Name: BirthDate, Length: 29999, dtype: datetime64[ns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  datetime64[ns]
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29999 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          29999 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(18)
memory usage: 5.0+ MB

In [ ]:
df['BirthDate'].astype('datetime64[ns]')

<ipython-input-93-e5a2ab618a0c>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['BirthDate'].astype('datetime64[ns]')

0       2058-11-11
1       2055-04-11
2       1974-04-21
3       1980-09-25
4       2065-01-11
           ...
29994   1976-07-08
29995   1976-07-08
29996   2060-03-12
29997   2060-03-12
29998   2057-04-04
Name: BirthDate, Length: 29999, dtype: datetime64[ns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  datetime64[ns]
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29999 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          29999 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(18)
memory usage: 5.0+ MB

In [ ]:
df['BirhtDate']=pd.to_datetime(df['BirthDate'])

<ipython-input-97-d5396672b8c0>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['BirhtDate']=pd.to_datetime(df['BirthDate'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  datetime64[ns]
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29999 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          29999 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
 22  BirhtDate             29999 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(18)
memory usage: 5.3+ MB

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  datetime64[ns]
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29999 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          29999 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
 22  BirhtDate             29999 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(18)
memory usage: 5.3+ MB

In [ ]:
pd.to_datetime(df['BirthDate'])

<ipython-input-100-5d684a994bbf>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df['BirthDate'])

0       2058-11-11
1       2055-04-11
2       1974-04-21
3       1980-09-25
4       2065-01-11
           ...
29994   1976-07-08
29995   1976-07-08
29996   2060-03-12
29997   2060-03-12
29998   2057-04-04
Name: BirthDate, Length: 29999, dtype: datetime64[ns]

In [ ]:
df['BirthDate'] = pd.to_datetime(df['BirthDate'])

<ipython-input-102-c88251551769>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['BirthDate'] = pd.to_datetime(df['BirthDate'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  datetime64[ns]
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  datetime64[ns]
 3   Gender                29999 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          29999 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
 22  BirhtDate             29999 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int64(2), object(17)
memory usage: 5.3+ MB

In [ ]:
df['OrderDate'].dt.year

0        2015
1        2015
2        2015
3        2015
4        2015
         ...
29994    2017
29995    2017
29996    2017
29997    2017
29998    2017
Name: OrderDate, Length: 29999, dtype: int32

In [ ]:
df['OrderDate'].dt.month

0        1
1        1
2        1
3        1
4        1
        ..
29994    2
29995    2
29996    2
29997    2
29998    2
Name: OrderDate, Length: 29999, dtype: int32

In [ ]:
df['OrderDate'].dt.day

0        1
1        1
2        1
3        1
4        2
        ..
29994    4
29995    4
29996    4
29997    4
29998    4
Name: OrderDate, Length: 29999, dtype: int32

In [ ]:
df['order_year'] = df['OrderDate'].dt.year

In [ ]:
df

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent,BirhtDate,order_year
0,2015-01-01,MR. JOHN THOMAS,2058-11-11,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,58,U,699.0982,1,Road Bikes,Northwest,United States,North America,2058-11-11,2015
1,2015-01-01,MR. KYLE WASHINGTON,2055-04-11,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America,2055-04-11,2015
2,2015-01-01,MR. ROSS SANZ,1974-04-21,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific,1974-04-21,2015
3,2015-01-01,MR. SETH LEWIS,1980-09-25,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,44,U,699.0982,1,Road Bikes,Canada,Canada,North America,1980-09-25,2015
4,2015-01-02,MR. ALEJANDRO CHEN,2065-01-11,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe,2065-01-11,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2017-02-04,MR. CLAYTON JAI,1976-07-08,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific,1976-07-08,2017
29995,2017-02-04,MR. CLAYTON JAI,1976-07-08,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,0,0,33.6442,1,Helmets,Australia,Australia,Pacific,1976-07-08,2017
29996,2017-02-04,MR. CONNOR KING,2060-03-12,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America,2060-03-12,2017
29997,2017-02-04,MR. CONNOR KING,2060-03-12,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,0,U,8.6442,2,Caps,Southwest,United States,North America,2060-03-12,2017
29998,2017-02-04,MR. DALTON PEREZ,2057-04-04,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,0,0,33.6442,1,Helmets,Canada,Canada,North America,2057-04-04,2017

In [ ]:
df['Order_month']= df['OrderDate'].dt.month

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
df

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent,BirhtDate,order_year,Order_month
0,2015-01-01,MR. JOHN THOMAS,2058-11-11,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,U,699.0982,1,Road Bikes,Northwest,United States,North America,2058-11-11,2015,1
1,2015-01-01,MR. KYLE WASHINGTON,2055-04-11,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,U,3578.2700,1,Road Bikes,Southwest,United States,North America,2055-04-11,2015,1
2,2015-01-01,MR. ROSS SANZ,1974-04-21,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific,1974-04-21,2015,1
3,2015-01-01,MR. SETH LEWIS,1980-09-25,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,U,699.0982,1,Road Bikes,Canada,Canada,North America,1980-09-25,2015,1
4,2015-01-02,MR. ALEJANDRO CHEN,2065-01-11,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe,2065-01-11,2015,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2017-02-04,MR. CLAYTON JAI,1976-07-08,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific,1976-07-08,2017,2
29995,2017-02-04,MR. CLAYTON JAI,1976-07-08,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,0,33.6442,1,Helmets,Australia,Australia,Pacific,1976-07-08,2017,2
29996,2017-02-04,MR. CONNOR KING,2060-03-12,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,U,2384.0700,1,Touring Bikes,Southwest,United States,North America,2060-03-12,2017,2
29997,2017-02-04,MR. CONNOR KING,2060-03-12,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,U,8.6442,2,Caps,Southwest,United States,North America,2060-03-12,2017,2
29998,2017-02-04,MR. DALTON PEREZ,2057-04-04,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,0,33.6442,1,Helmets,Canada,Canada,North America,2057-04-04,2017,2

In [ ]:
df['Order_month_name']= df['OrderDate'].dt.month_name()

In [ ]:
df

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent,BirhtDate,order_year,Order_month,Order_month_name
0,2015-01-01,MR. JOHN THOMAS,2058-11-11,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,699.0982,1,Road Bikes,Northwest,United States,North America,2058-11-11,2015,1,January
1,2015-01-01,MR. KYLE WASHINGTON,2055-04-11,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,3578.2700,1,Road Bikes,Southwest,United States,North America,2055-04-11,2015,1,January
2,2015-01-01,MR. ROSS SANZ,1974-04-21,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific,1974-04-21,2015,1,January
3,2015-01-01,MR. SETH LEWIS,1980-09-25,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,699.0982,1,Road Bikes,Canada,Canada,North America,1980-09-25,2015,1,January
4,2015-01-02,MR. ALEJANDRO CHEN,2065-01-11,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe,2065-01-11,2015,1,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2017-02-04,MR. CLAYTON JAI,1976-07-08,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,2384.0700,1,Touring Bikes,Australia,Australia,Pacific,1976-07-08,2017,2,February
29995,2017-02-04,MR. CLAYTON JAI,1976-07-08,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,33.6442,1,Helmets,Australia,Australia,Pacific,1976-07-08,2017,2,February
29996,2017-02-04,MR. CONNOR KING,2060-03-12,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,2384.0700,1,Touring Bikes,Southwest,United States,North America,2060-03-12,2017,2,February
29997,2017-02-04,MR. CONNOR KING,2060-03-12,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,8.6442,2,Caps,Southwest,United States,North America,2060-03-12,2017,2,February
29998,2017-02-04,MR. DALTON PEREZ,2057-04-04,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,33.6442,1,Helmets,Canada,Canada,North America,2057-04-04,2017,2,February

In [ ]:
df['Order_Year_Name']= df['OrderDate'].dt.year_name()

AttributeError: 'DatetimeProperties' object has no attribute 'year_name'

In [ ]:
df['Order_year_name']= df['OrderDate'].dt.day_name()

In [ ]:
df

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent,BirhtDate,order_year,Order_month,Order_month_name,Order_year_name
0,2015-01-01,MR. JOHN THOMAS,2058-11-11,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,1,Road Bikes,Northwest,United States,North America,2058-11-11,2015,1,January,Thursday
1,2015-01-01,MR. KYLE WASHINGTON,2055-04-11,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,1,Road Bikes,Southwest,United States,North America,2055-04-11,2015,1,January,Thursday
2,2015-01-01,MR. ROSS SANZ,1974-04-21,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,1,Mountain Bikes,Australia,Australia,Pacific,1974-04-21,2015,1,January,Thursday
3,2015-01-01,MR. SETH LEWIS,1980-09-25,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,1,Road Bikes,Canada,Canada,North America,1980-09-25,2015,1,January,Thursday
4,2015-01-02,MR. ALEJANDRO CHEN,2065-01-11,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,1,Road Bikes,United Kingdom,United Kingdom,Europe,2065-01-11,2015,1,January,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2017-02-04,MR. CLAYTON JAI,1976-07-08,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,1,Touring Bikes,Australia,Australia,Pacific,1976-07-08,2017,2,February,Saturday
29995,2017-02-04,MR. CLAYTON JAI,1976-07-08,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,1,Helmets,Australia,Australia,Pacific,1976-07-08,2017,2,February,Saturday
29996,2017-02-04,MR. CONNOR KING,2060-03-12,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,1,Touring Bikes,Southwest,United States,North America,2060-03-12,2017,2,February,Saturday
29997,2017-02-04,MR. CONNOR KING,2060-03-12,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,2,Caps,Southwest,United States,North America,2060-03-12,2017,2,February,Saturday
29998,2017-02-04,MR. DALTON PEREZ,2057-04-04,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,1,Helmets,Canada,Canada,North America,2057-04-04,2017,2,February,Saturday

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  object
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29799 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          16367 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: float64(1), int64(2), object(19)
memory usage: 5.0+ MB

In [ ]:
df.drop(columns = ['ProductDescription','ProductSize'],inplace=True)

In [ ]:
df.info()

NameError: name 'df' is not defined

In [ ]:
df.pivot_table(index='ProductName',columns='Gender',Values='Sum of OrderQuantity',aggfunc='sum')

TypeError: DataFrame.pivot_table() got an unexpected keyword argument 'Values'

In [ ]:
df.pivot_table(index='Occupation',Columns='Gender',values='OrderQuantity',aggfunc='sum')

NameError: name 'df' is not defined

In [ ]:
df.rename(columns = {'Sum of TotalChildren':'TotalChildren','Sum of TotalPrice':'TotalPrice','Sum of OrderQuantity':'OrderQuantity'},inplace=True)

NameError: name 'df' is not defined

In [ ]:
df

NameError: name 'df' is not defined

In [ ]:
df

NameError: name 'df' is not defined

In [ ]:
import pandas as pd
pd.read_csv('

             Day  Number of Bicycle Hires  Unnamed: 2
0     30/07/2010                   6897.0         NaN
1     31/07/2010                   5564.0         NaN
2     01/08/2010                   4303.0         NaN
3     02/08/2010                   6642.0         NaN
4     03/08/2010                   7966.0         NaN
...          ...                      ...         ...
4076  26/09/2021                  45120.0         NaN
4077  27/09/2021                  32167.0         NaN
4078  28/09/2021                  32539.0         NaN
4079  29/09/2021                  39889.0         NaN
4080  30/09/2021                  34070.0         NaN

[4081 rows x 3 columns]

In [ ]:
import pandas as pd
df1=pd.read_csv('https://raw.githubusercontent.com/KaungAlex/pandas/main/Pandas_EX1.csv')

In [ ]:
df1

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  object
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29799 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          16367 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: float64(1), int64(2), object(19)
memory usage: 5.0+ MB

In [ ]:
df1

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  object
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29799 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          16367 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: float64(1), int64(2), object(19)
memory usage: 5.0+ MB

In [ ]:
df1.rename(columns = {'Sum of TotalChildren' :'TotalChildren' , 'Sum of ProductPrice' : 'ProductPrice','Sum of OrderQuantity' :'OrderQuantity'},inplace=True)

In [ ]:
df1

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,ProductPrice,OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,"$80,000",3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,"$100,000",0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,"$30,000",0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,"$20,000",2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,"$70,000",0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,"$120,000",5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,"$90,000",2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderDate           29999 non-null  object
 1   Name                29999 non-null  object
 2   BirthDate           29999 non-null  object
 3   Gender              29799 non-null  object
 4   EmailAddress        29999 non-null  object
 5   AnnualIncome        29999 non-null  object
 6   TotalChildren       29999 non-null  int64
 7   EducationLevel      29999 non-null  object
 8   Occupation          29999 non-null  object
 9   HomeOwner           29999 non-null  object
 10  ProductSKU          29999 non-null  object
 11  ProductName         29999 non-null  object
 12  ProductDescription  29999 non-null  object
 13  ProductColor        16367 non-null  object
 14  ProductSize         29999 non-null  object
 15  ProductStyle        29999 non-null  object
 16  ProductPrice        29999 non-null  float64
 17  OrderQuantity       29999 non-null  int64
 18  SubcategoryName     29999 non-null  object
 19  Region              29999 non-null  object
 20  Country             29999 non-null  object
 21  Continent           29999 non-null  object
dtypes: float64(1), int64(2), object(19)
memory usage: 5.0+ MB

In [ ]:
pd.to_datetime(df1['OrderDate'])

<ipython-input-33-bcd3ca83bc6a>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df1['OrderDate'])

0       2015-01-01
1       2015-01-01
2       2015-01-01
3       2015-01-01
4       2015-01-02
           ...
29994   2017-02-04
29995   2017-02-04
29996   2017-02-04
29997   2017-02-04
29998   2017-02-04
Name: OrderDate, Length: 29999, dtype: datetime64[ns]

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderDate           29999 non-null  object
 1   Name                29999 non-null  object
 2   BirthDate           29999 non-null  object
 3   Gender              29799 non-null  object
 4   EmailAddress        29999 non-null  object
 5   AnnualIncome        29999 non-null  object
 6   TotalChildren       29999 non-null  int64
 7   EducationLevel      29999 non-null  object
 8   Occupation          29999 non-null  object
 9   HomeOwner           29999 non-null  object
 10  ProductSKU          29999 non-null  object
 11  ProductName         29999 non-null  object
 12  ProductDescription  29999 non-null  object
 13  ProductColor        16367 non-null  object
 14  ProductSize         29999 non-null  object
 15  ProductStyle        29999 non-null  object
 16  ProductPrice        29999 non-null  float64
 17  OrderQuantity       29999 non-null  int64
 18  SubcategoryName     29999 non-null  object
 19  Region              29999 non-null  object
 20  Country             29999 non-null  object
 21  Continent           29999 non-null  object
dtypes: float64(1), int64(2), object(19)
memory usage: 5.0+ MB

In [ ]:
df1['OrderDate'] = pd.to_datetime(df1['OrderDate'])

<ipython-input-36-c7b0189b9cce>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df1['OrderDate'] = pd.to_datetime(df1['OrderDate'])

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderDate           29999 non-null  datetime64[ns]
 1   Name                29999 non-null  object
 2   BirthDate           29999 non-null  object
 3   Gender              29799 non-null  object
 4   EmailAddress        29999 non-null  object
 5   AnnualIncome        29999 non-null  object
 6   TotalChildren       29999 non-null  int64
 7   EducationLevel      29999 non-null  object
 8   Occupation          29999 non-null  object
 9   HomeOwner           29999 non-null  object
 10  ProductSKU          29999 non-null  object
 11  ProductName         29999 non-null  object
 12  ProductDescription  29999 non-null  object
 13  ProductColor        16367 non-null  object
 14  ProductSize         29999 non-null  object
 15  ProductStyle        29999 non-null  object
 16  ProductPrice        29999 non-null  float64
 17  OrderQuantity       29999 non-null  int64
 18  SubcategoryName     29999 non-null  object
 19  Region              29999 non-null  object
 20  Country             29999 non-null  object
 21  Continent           29999 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(18)
memory usage: 5.0+ MB

In [ ]:
pd.to_datetime(df1['BirthDate'])

<ipython-input-38-8b0ca6c9adb4>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df1['BirthDate'])

0       2058-11-11
1       2055-04-11
2       1974-04-21
3       1980-09-25
4       2065-01-11
           ...
29994   1976-07-08
29995   1976-07-08
29996   2060-03-12
29997   2060-03-12
29998   2057-04-04
Name: BirthDate, Length: 29999, dtype: datetime64[ns]

In [ ]:
df1['BirthDate'] = pd.to_datetime(df1['BirthDate'])

<ipython-input-39-c6d60f87972a>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df1['BirthDate'] = pd.to_datetime(df1['BirthDate'])

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderDate           29999 non-null  datetime64[ns]
 1   Name                29999 non-null  object
 2   BirthDate           29999 non-null  datetime64[ns]
 3   Gender              29799 non-null  object
 4   EmailAddress        29999 non-null  object
 5   AnnualIncome        29999 non-null  object
 6   TotalChildren       29999 non-null  int64
 7   EducationLevel      29999 non-null  object
 8   Occupation          29999 non-null  object
 9   HomeOwner           29999 non-null  object
 10  ProductSKU          29999 non-null  object
 11  ProductName         29999 non-null  object
 12  ProductDescription  29999 non-null  object
 13  ProductColor        16367 non-null  object
 14  ProductSize         29999 non-null  object
 15  ProductStyle        29999 non-null  object
 16  ProductPrice        29999 non-null  float64
 17  OrderQuantity       29999 non-null  int64
 18  SubcategoryName     29999 non-null  object
 19  Region              29999 non-null  object
 20  Country             29999 non-null  object
 21  Continent           29999 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(17)
memory usage: 5.0+ MB

In [ ]:
df1['OrderDate'].dt.year

0        2015
1        2015
2        2015
3        2015
4        2015
         ...
29994    2017
29995    2017
29996    2017
29997    2017
29998    2017
Name: OrderDate, Length: 29999, dtype: int32

In [ ]:
df1['OrderDate'].dt.month

0        1
1        1
2        1
3        1
4        1
        ..
29994    2
29995    2
29996    2
29997    2
29998    2
Name: OrderDate, Length: 29999, dtype: int32

In [ ]:
df1['OrderDate'].dt.month_name()

0         January
1         January
2         January
3         January
4         January
           ...
29994    February
29995    February
29996    February
29997    February
29998    February
Name: OrderDate, Length: 29999, dtype: object

In [ ]:
df1['OrderDate'].dt.day

0        1
1        1
2        1
3        1
4        2
        ..
29994    4
29995    4
29996    4
29997    4
29998    4
Name: OrderDate, Length: 29999, dtype: int32

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderDate           29999 non-null  datetime64[ns]
 1   Name                29999 non-null  object
 2   BirthDate           29999 non-null  datetime64[ns]
 3   Gender              29799 non-null  object
 4   EmailAddress        29999 non-null  object
 5   AnnualIncome        29999 non-null  object
 6   TotalChildren       29999 non-null  int64
 7   EducationLevel      29999 non-null  object
 8   Occupation          29999 non-null  object
 9   HomeOwner           29999 non-null  object
 10  ProductSKU          29999 non-null  object
 11  ProductName         29999 non-null  object
 12  ProductDescription  29999 non-null  object
 13  ProductColor        16367 non-null  object
 14  ProductSize         29999 non-null  object
 15  ProductStyle        29999 non-null  object
 16  ProductPrice        29999 non-null  float64
 17  OrderQuantity       29999 non-null  int64
 18  SubcategoryName     29999 non-null  object
 19  Region              29999 non-null  object
 20  Country             29999 non-null  object
 21  Continent           29999 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(17)
memory usage: 5.0+ MB

In [ ]:
df1['OrderYear'] = df1['OrderDate'].dt.year

In [ ]:
df1['OrderMonth'] = df1['OrderDate'].dt.month

In [ ]:
df1['OrderMonthName'] = df1['OrderDate'].dt.month_name()

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderDate           29999 non-null  datetime64[ns]
 1   Name                29999 non-null  object
 2   BirthDate           29999 non-null  datetime64[ns]
 3   Gender              29799 non-null  object
 4   EmailAddress        29999 non-null  object
 5   AnnualIncome        29999 non-null  object
 6   TotalChildren       29999 non-null  int64
 7   EducationLevel      29999 non-null  object
 8   Occupation          29999 non-null  object
 9   HomeOwner           29999 non-null  object
 10  ProductSKU          29999 non-null  object
 11  ProductName         29999 non-null  object
 12  ProductDescription  29999 non-null  object
 13  ProductColor        16367 non-null  object
 14  ProductSize         29999 non-null  object
 15  ProductStyle        29999 non-null  object
 16  ProductPrice        29999 non-null  float64
 17  OrderQuantity       29999 non-null  int64
 18  SubcategoryName     29999 non-null  object
 19  Region              29999 non-null  object
 20  Country             29999 non-null  object
 21  Continent           29999 non-null  object
 22  OrderYear           29999 non-null  int32
 23  OrderMonth          29999 non-null  int32
 24  OrderMonthName      29999 non-null  object
dtypes: datetime64[ns](2), float64(1), int32(2), int64(2), object(18)
memory usage: 5.5+ MB

In [ ]:
df1.drop(columns = 'ProductSKU',inplace=True)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderDate           29999 non-null  datetime64[ns]
 1   Name                29999 non-null  object
 2   BirthDate           29999 non-null  datetime64[ns]
 3   Gender              29799 non-null  object
 4   EmailAddress        29999 non-null  object
 5   AnnualIncome        29999 non-null  object
 6   TotalChildren       29999 non-null  int64
 7   EducationLevel      29999 non-null  object
 8   Occupation          29999 non-null  object
 9   HomeOwner           29999 non-null  object
 10  ProductName         29999 non-null  object
 11  ProductDescription  29999 non-null  object
 12  ProductColor        16367 non-null  object
 13  ProductSize         29999 non-null  object
 14  ProductStyle        29999 non-null  object
 15  ProductPrice        29999 non-null  float64
 16  OrderQuantity       29999 non-null  int64
 17  SubcategoryName     29999 non-null  object
 18  Region              29999 non-null  object
 19  Country             29999 non-null  object
 20  Continent           29999 non-null  object
 21  OrderYear           29999 non-null  int32
 22  OrderMonth          29999 non-null  int32
 23  OrderMonthName      29999 non-null  object
dtypes: datetime64[ns](2), float64(1), int32(2), int64(2), object(17)
memory usage: 5.3+ MB

In [ ]:
df1.sort_values(by='OrderQuantity',inplace=True)

In [ ]:
df1

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductStyle,ProductPrice,OrderQuantity,SubcategoryName,Region,Country,Continent,OrderYear,OrderMonth,OrderMonthName
0,2015-01-01,MR. JOHN THOMAS,2058-11-11,M,john48@adventure-works.com,"$80,000",1,Partial College,Skilled Manual,N,...,U,699.0982,1,Road Bikes,Northwest,United States,North America,2015,1,January
16960,2016-10-29,MR. BRANDON GARCIA,2055-06-20,M,brandon39@adventure-works.com,"$60,000",2,High School,Professional,N,...,U,742.3500,1,Touring Bikes,Canada,Canada,North America,2016,10,October
16957,2016-10-29,MR. ANGEL RICHARDSON,2053-11-22,M,angel9@adventure-works.com,"$90,000",3,Partial College,Professional,Y,...,U,2384.0700,1,Touring Bikes,United Kingdom,United Kingdom,Europe,2016,10,October
16955,2016-10-28,MS. STACY DOMINGUEZ,2071-04-03,F,stacy13@adventure-works.com,"$150,000",0,Bachelors,Management,Y,...,0,34.9900,1,Helmets,Australia,Australia,Pacific,2016,10,October
16954,2016-10-28,MS. STACY DOMINGUEZ,2071-04-03,F,stacy13@adventure-works.com,"$150,000",0,Bachelors,Management,Y,...,U,2181.5625,1,Road Bikes,Australia,Australia,Pacific,2016,10,October
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24250,2016-12-17,MRS. JENNIFER ALEXANDER,2060-01-22,F,jennifer92@adventure-works.com,"$40,000",4,High School,Skilled Manual,Y,...,U,8.6442,3,Caps,Southwest,United States,North America,2016,12,December
26224,2016-12-30,MR. CHARLES RICHARDSON,2051-11-07,M,charles58@adventure-works.com,"$70,000",2,High School,Professional,Y,...,0,8.9900,3,Bottles and Cages,Canada,Canada,North America,2016,12,December
20110,2016-11-22,MR. FERNANDO BARNES,2060-03-03,M,fernando47@adventure-works.com,"$80,000",10,Partial College,Professional,N,...,0,7.9800,4,Tires and Tubes,Canada,Canada,North America,2016,11,November
13919,2016-10-05,MS. APRIL SHAN,2067-09-02,F,april8@adventure-works.com,"$40,000",0,Bachelors,Clerical,Y,...,0,9.9800,4,Tires and Tubes,France,France,Europe,2016,10,October
20577,2016-11-25,MR. RYAN THOMPSON,2040-05-13,M,ryan38@adventure-works.com,"$110,000",4,Graduate Degree,Management,Y,...,0,7.9800,4,Tires and Tubes,Canada,Canada,North America,2016,11,November

In [ ]:
df1.sort_values(by='OrderQuantity',inplace=False)

In [ ]:
df1[['OrderDate','OrderQuantity']].sort_values(by ='OrderQuantity')

       OrderDate  OrderQuantity
0     2015-01-01              1
7916  2016-08-19              1
1835  2015-09-22              1
1839  2015-09-23              1
1840  2015-09-23              1
...          ...            ...
9888  2016-09-04              3
21581 2016-12-02              3
13919 2016-10-05              4
20110 2016-11-22              4
20577 2016-11-25              4

[29999 rows x 2 columns]

In [ ]:
import pandas as pd
pd.read_csv('https://raw.githubusercontent.com/KaungAlex/pandas/main/tfl-daily-cycle-hires.csv')

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/KaungAlex/pandas/main/tfl-daily-cycle-hires.csv')

In [ ]:
df

             Day  Number of Bicycle Hires  Unnamed: 2
0     30/07/2010                   6897.0         NaN
1     31/07/2010                   5564.0         NaN
2     01/08/2010                   4303.0         NaN
3     02/08/2010                   6642.0         NaN
4     03/08/2010                   7966.0         NaN
...          ...                      ...         ...
4076  26/09/2021                  45120.0         NaN
4077  27/09/2021                  32167.0         NaN
4078  28/09/2021                  32539.0         NaN
4079  29/09/2021                  39889.0         NaN
4080  30/09/2021                  34070.0         NaN

[4081 rows x 3 columns]

In [ ]:
df.sort_values(by='Number of Bicycle Hires',inplace=False)

             Day  Number of Bicycle Hires  Unnamed: 2
142   19/12/2010                   2764.0         NaN
141   18/12/2010                   2805.0         NaN
555   05/02/2012                   3531.0         NaN
905   20/01/2013                   3728.0         NaN
151   28/12/2010                   3763.0         NaN
...          ...                      ...         ...
3613  20/06/2020                  64041.0         NaN
3606  13/06/2020                  65045.0         NaN
3587  25/05/2020                  67034.0         NaN
3592  30/05/2020                  70170.0         NaN
1805  09/07/2015                  73094.0         NaN

[4081 rows x 3 columns]

In [ ]:
df

             Day  Number of Bicycle Hires  Unnamed: 2
0     30/07/2010                   6897.0         NaN
1     31/07/2010                   5564.0         NaN
2     01/08/2010                   4303.0         NaN
3     02/08/2010                   6642.0         NaN
4     03/08/2010                   7966.0         NaN
...          ...                      ...         ...
4076  26/09/2021                  45120.0         NaN
4077  27/09/2021                  32167.0         NaN
4078  28/09/2021                  32539.0         NaN
4079  29/09/2021                  39889.0         NaN
4080  30/09/2021                  34070.0         NaN

[4081 rows x 3 columns]

In [ ]:
df.sort_values(by='Number of Bicycle Hires',inplace=False)

             Day  Number of Bicycle Hires  Unnamed: 2
142   19/12/2010                   2764.0         NaN
141   18/12/2010                   2805.0         NaN
555   05/02/2012                   3531.0         NaN
905   20/01/2013                   3728.0         NaN
151   28/12/2010                   3763.0         NaN
...          ...                      ...         ...
3613  20/06/2020                  64041.0         NaN
3606  13/06/2020                  65045.0         NaN
3587  25/05/2020                  67034.0         NaN
3592  30/05/2020                  70170.0         NaN
1805  09/07/2015                  73094.0         NaN

[4081 rows x 3 columns]

In [ ]:
df

             Day  Number of Bicycle Hires  Unnamed: 2
0     30/07/2010                   6897.0         NaN
1     31/07/2010                   5564.0         NaN
2     01/08/2010                   4303.0         NaN
3     02/08/2010                   6642.0         NaN
4     03/08/2010                   7966.0         NaN
...          ...                      ...         ...
4076  26/09/2021                  45120.0         NaN
4077  27/09/2021                  32167.0         NaN
4078  28/09/2021                  32539.0         NaN
4079  29/09/2021                  39889.0         NaN
4080  30/09/2021                  34070.0         NaN

[4081 rows x 3 columns]

In [ ]:
df[['Day','Number of Bicycle Hires']].sort_values(by='Number of Bicycle Hires',ascending=False)

             Day  Number of Bicycle Hires
1805  09/07/2015                  73094.0
3592  30/05/2020                  70170.0
3587  25/05/2020                  67034.0
3606  13/06/2020                  65045.0
3613  20/06/2020                  64041.0
...          ...                      ...
151   28/12/2010                   3763.0
905   20/01/2013                   3728.0
555   05/02/2012                   3531.0
141   18/12/2010                   2805.0
142   19/12/2010                   2764.0

[4081 rows x 2 columns]

In [ ]:
df

In [ ]:
df

             Day  Number of Bicycle Hires  Unnamed: 2
0     30/07/2010                   6897.0         NaN
1     31/07/2010                   5564.0         NaN
2     01/08/2010                   4303.0         NaN
3     02/08/2010                   6642.0         NaN
4     03/08/2010                   7966.0         NaN
...          ...                      ...         ...
4076  26/09/2021                  45120.0         NaN
4077  27/09/2021                  32167.0         NaN
4078  28/09/2021                  32539.0         NaN
4079  29/09/2021                  39889.0         NaN
4080  30/09/2021                  34070.0         NaN

[4081 rows x 3 columns]

In [ ]:
df1[['OrderDate','OrderQuantity']].groupby(by = 'OrderDate').sum()

            OrderQuantity
OrderDate
2015-01-01              4
2015-01-02              4
2015-01-03              8
2015-01-04              5
2015-01-05              3
...                   ...
2017-01-31            197
2017-02-01            216
2017-02-02             83
2017-02-03            187
2017-02-04             35

[765 rows x 1 columns]

from matplotlib import pyplot as plt
_df_0['OrderQuantity'].plot(kind='hist', bins=20, title='OrderQuantity')
plt.gca().spines[['top', 'right',]].set_visible(False)

from matplotlib import pyplot as plt
_df_1['OrderQuantity'].plot(kind='line', figsize=(8, 4), title='OrderQuantity')
plt.gca().spines[['top', 'right']].set_visible(False)

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns
def _plot_series(series, series_name, series_index=0):
  palette = list(sns.palettes.mpl_palette('Dark2'))
  xs = series['OrderDate']
  ys = series['OrderQuantity']

  plt.plot(xs, ys, label=series_name, color=palette[series_index % len(palette)])

fig, ax = plt.subplots(figsize=(10, 5.2), layout='constrained')
df_sorted = _df_1.sort_values('OrderDate', ascending=True)
_plot_series(df_sorted, '')
sns.despine(fig=fig, ax=ax)
plt.xlabel('OrderDate')
_ = plt.ylabel('OrderQuantity')

In [ ]:
from matplotlib import pyplot as plt
_df_0['OrderQuantity'].plot(kind='hist', bins=20, title='OrderQuantity')
plt.gca().spines[['top', 'right',]].set_visible(False)

In [ ]:
import seaborn as sb
df3 = sb.load_dataset('tips')
df3

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
df3[['day','total_bill']].groupby(by='day').sum()

In [ ]:
df3[['day','total_bill']].groupby(by='day').count()

In [ ]:
df3[['day','total_bill']].groupby(by='day').count()

In [ ]:
df3

In [ ]:
df3[['day','total_bill']].groupby(by='day').count().ascending=True

In [ ]:
df3

In [ ]:
df3[['total_bill','day']].groupby(by='day').sum()

In [ ]:
df3[['total_bill','day']].groupby(by='day').sum().sort_values(by='total_bill',ascending=False)

In [ ]:
df3[['total_bill','day']].groupby(by='day').sum().sort_values(by='total_bill',ascending=False)

In [ ]:
df3

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29999 entries, 0 to 20577
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderDate           29999 non-null  datetime64[ns]
 1   Name                29999 non-null  object
 2   BirthDate           29999 non-null  datetime64[ns]
 3   Gender              29799 non-null  object
 4   EmailAddress        29999 non-null  object
 5   AnnualIncome        29999 non-null  object
 6   TotalChildren       29999 non-null  int64
 7   EducationLevel      29999 non-null  object
 8   Occupation          29999 non-null  object
 9   HomeOwner           29999 non-null  object
 10  ProductName         29999 non-null  object
 11  ProductDescription  29999 non-null  object
 12  ProductColor        16367 non-null  object
 13  ProductSize         29999 non-null  object
 14  ProductStyle        29999 non-null  object
 15  ProductPrice        29999 non-null  float64
 16  OrderQuantity       29999 non-null  int64
 17  SubcategoryName     29999 non-null  object
 18  Region              29999 non-null  object
 19  Country             29999 non-null  object
 20  Continent           29999 non-null  object
 21  OrderYear           29999 non-null  int32
 22  OrderMonth          29999 non-null  int32
 23  OrderMonthName      29999 non-null  object
dtypes: datetime64[ns](2), float64(1), int32(2), int64(2), object(17)
memory usage: 5.5+ MB

In [ ]:
df1['AnnualIncome']

0         80,000
16960     60,000
16957     90,000
16955    150,000
16954    150,000
           ...
24250     40,000
26224     70,000
20110     80,000
13919     40,000
20577    110,000
Name: AnnualIncome, Length: 29999, dtype: object

In [ ]:
'$800'[1::]

'800'

In [ ]:
'@45'[1::]

'45'

In [ ]:
'@45'[-1:-3:]

''

In [ ]:
'80%'[:-1]

'80'

In [ ]:
'$34'[1:]

'34'

In [ ]:
'34%'[:-1]

'34'

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29999 entries, 0 to 20577
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderDate           29999 non-null  datetime64[ns]
 1   Name                29999 non-null  object
 2   BirthDate           29999 non-null  datetime64[ns]
 3   Gender              29799 non-null  object
 4   EmailAddress        29999 non-null  object
 5   AnnualIncome        29999 non-null  object
 6   TotalChildren       29999 non-null  int64
 7   EducationLevel      29999 non-null  object
 8   Occupation          29999 non-null  object
 9   HomeOwner           29999 non-null  object
 10  ProductName         29999 non-null  object
 11  ProductDescription  29999 non-null  object
 12  ProductColor        16367 non-null  object
 13  ProductSize         29999 non-null  object
 14  ProductStyle        29999 non-null  object
 15  ProductPrice        29999 non-null  float64
 16  OrderQuantity       29999 non-null  int64
 17  SubcategoryName     29999 non-null  object
 18  Region              29999 non-null  object
 19  Country             29999 non-null  object
 20  Continent           29999 non-null  object
 21  OrderYear           29999 non-null  int32
 22  OrderMonth          29999 non-null  int32
 23  OrderMonthName      29999 non-null  object
dtypes: datetime64[ns](2), float64(1), int32(2), int64(2), object(17)
memory usage: 5.5+ MB

In [ ]:
df1['AnnualIncome']= df1['AnnualIncome'].apply(lambda a : a.split('$')[1])

IndexError: list index out of range

In [ ]:
df1['AnnualIncome']

0         80,000
16960     60,000
16957     90,000
16955    150,000
16954    150,000
           ...
24250     40,000
26224     70,000
20110     80,000
13919     40,000
20577    110,000
Name: AnnualIncome, Length: 29999, dtype: object

In [ ]:
df1['AnnualIncome']=df1['AnnualIncome'].apply(lambda x : x.replace ( ',' , ''))

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29999 entries, 0 to 20577
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderDate           29999 non-null  datetime64[ns]
 1   Name                29999 non-null  object
 2   BirthDate           29999 non-null  datetime64[ns]
 3   Gender              29799 non-null  object
 4   EmailAddress        29999 non-null  object
 5   AnnualIncome        29999 non-null  object
 6   TotalChildren       29999 non-null  int64
 7   EducationLevel      29999 non-null  object
 8   Occupation          29999 non-null  object
 9   HomeOwner           29999 non-null  object
 10  ProductName         29999 non-null  object
 11  ProductDescription  29999 non-null  object
 12  ProductColor        16367 non-null  object
 13  ProductSize         29999 non-null  object
 14  ProductStyle        29999 non-null  object
 15  ProductPrice        29999 non-null  float64
 16  OrderQuantity       29999 non-null  int64
 17  SubcategoryName     29999 non-null  object
 18  Region              29999 non-null  object
 19  Country             29999 non-null  object
 20  Continent           29999 non-null  object
 21  OrderYear           29999 non-null  int32
 22  OrderMonth          29999 non-null  int32
 23  OrderMonthName      29999 non-null  object
dtypes: datetime64[ns](2), float64(1), int32(2), int64(2), object(17)
memory usage: 5.5+ MB

In [ ]:
df1['AnnualIncome']=df1['AnnualIncome'].astype('Int64')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29999 entries, 0 to 20577
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderDate           29999 non-null  datetime64[ns]
 1   Name                29999 non-null  object
 2   BirthDate           29999 non-null  datetime64[ns]
 3   Gender              29799 non-null  object
 4   EmailAddress        29999 non-null  object
 5   AnnualIncome        29999 non-null  Int64
 6   TotalChildren       29999 non-null  int64
 7   EducationLevel      29999 non-null  object
 8   Occupation          29999 non-null  object
 9   HomeOwner           29999 non-null  object
 10  ProductName         29999 non-null  object
 11  ProductDescription  29999 non-null  object
 12  ProductColor        16367 non-null  object
 13  ProductSize         29999 non-null  object
 14  ProductStyle        29999 non-null  object
 15  ProductPrice        29999 non-null  float64
 16  OrderQuantity       29999 non-null  int64
 17  SubcategoryName     29999 non-null  object
 18  Region              29999 non-null  object
 19  Country             29999 non-null  object
 20  Continent           29999 non-null  object
 21  OrderYear           29999 non-null  int32
 22  OrderMonth          29999 non-null  int32
 23  OrderMonthName      29999 non-null  object
dtypes: Int64(1), datetime64[ns](2), float64(1), int32(2), int64(2), object(16)
memory usage: 5.5+ MB

In [ ]:
#Group by annualincome for occupation
df1[['Occupation','AnnualIncome']].groupby(by='Occupation').sum()

                AnnualIncome
Occupation
Clerical           144200000
Management         506190000
Manual              55290000
Professional       723090000
Skilled Manual     377960000

In [ ]:
df1[['Country','TotalChildren','AnnualIncome']].groupby(by = 'Country').sum()

                TotalChildren  AnnualIncome
Country
Australia               10490     462610000
Canada                   7622     221740000
France                   4919     110760000
Germany                  4823     132440000
United Kingdom           5951     193670000
United States           21276     685510000

In [ ]:
df1[['Country','TotalChildren','AnnualIncome']].groupby(by = ['Country','TotalChildren']).sum().sort_values(by='TotalChildren',ascending=False)

                              AnnualIncome
Country        TotalChildren
Canada         10                    80000
United Kingdom 6                    150000
Canada         5                  23600000
United Kingdom 5                  11390000
Germany        5                   7950000
France         5                  20390000
United States  5                  62150000
Australia      5                  47630000
United Kingdom 4                  48570000
France         4                  16930000
Canada         4                  52890000
United States  4                 108660000
Germany        4                  20570000
Australia      4                  26210000
               3                  24040000
Germany        3                  32400000
United Kingdom 3                  37350000
France         3                  11750000
United States  3                  91850000
Canada         3                  14020000
United Kingdom 2                  29420000
Canada         2                  48340000
France         2                  24000000
Germany        2                  32410000
Australia      2                  85240000
United States  2                 152240000
Canada         1                  37350000
United Kingdom 1                  32320000
Germany        1                  16880000
United States  1                 128620000
France         1                  13560000
Australia      1                  77360000
               0                 202130000
United States  0                 141990000
United Kingdom 0                  34470000
France         0                  24130000
Canada         0                  45460000
Germany        0                  22230000

In [ ]:
import Pandas as Pd
pd.read_csv('https://raw.githubusercontent.com/KaungAlex/pandas/main/Pandas_EX1.csv')

ModuleNotFoundError: No module named 'Pandas'

In [ ]:
#Practise function remove
import pandas as pd
p1=pd.read_csv('https://raw.githubusercontent.com/KaungAlex/pandas/main/Pandas_EX1.csv')

In [ ]:
p1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  object
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29799 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  object
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          16367 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: float64(1), int64(2), object(19)
memory usage: 5.0+ MB

In [ ]:
def splitreplacedatatype(x):
  x = x.split('$')[1]
  x = x.replace(',','')
  x = int(x)
  return x

In [ ]:
splitreplacedatatype('$400,000')

400000

In [ ]:
def splitreplacedatatype1(x):
  x = x.split('%')[0]
  x = x.replace(',','')
  x = int(x)
  return x

In [ ]:
splitreplacedatatype1('80%')

80

In [ ]:
splitreplacedatatype('$80,000')

80000

In [ ]:
p1['AnnualIncome'] = p1['AnnualIncome'].apply(splitreplacedatatype)

In [ ]:
p1['AnnualIncome']

0         80000
1         80000
2        100000
3         30000
4         20000
          ...
29994     70000
29995     70000
29996    120000
29997    120000
29998     90000
Name: AnnualIncome, Length: 29999, dtype: int64

In [ ]:
p1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderDate             29999 non-null  object
 1   Name                  29999 non-null  object
 2   BirthDate             29999 non-null  object
 3   Gender                29799 non-null  object
 4   EmailAddress          29999 non-null  object
 5   AnnualIncome          29999 non-null  int64
 6   Sum of TotalChildren  29999 non-null  int64
 7   EducationLevel        29999 non-null  object
 8   Occupation            29999 non-null  object
 9   HomeOwner             29999 non-null  object
 10  ProductSKU            29999 non-null  object
 11  ProductName           29999 non-null  object
 12  ProductDescription    29999 non-null  object
 13  ProductColor          16367 non-null  object
 14  ProductSize           29999 non-null  object
 15  ProductStyle          29999 non-null  object
 16  Sum of ProductPrice   29999 non-null  float64
 17  Sum of OrderQuantity  29999 non-null  int64
 18  SubcategoryName       29999 non-null  object
 19  Region                29999 non-null  object
 20  Country               29999 non-null  object
 21  Continent             29999 non-null  object
dtypes: float64(1), int64(3), object(18)
memory usage: 5.0+ MB

In [ ]:
p1

,OrderDate,Name,BirthDate,Gender,EmailAddress,AnnualIncome,Sum of TotalChildren,EducationLevel,Occupation,HomeOwner,...,ProductDescription,ProductColor,ProductSize,ProductStyle,Sum of ProductPrice,Sum of OrderQuantity,SubcategoryName,Region,Country,Continent
0,1/1/15 0:00,MR. JOHN THOMAS,11/11/58 0:00,M,john48@adventure-works.com,80000,1,Partial College,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,58,U,699.0982,1,Road Bikes,Northwest,United States,North America
1,1/1/15 0:00,MR. KYLE WASHINGTON,4/11/55 0:00,M,kyle8@adventure-works.com,80000,3,Partial College,Professional,N,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,Southwest,United States,North America
2,1/1/15 0:00,MR. ROSS SANZ,4/21/74 0:00,M,ross38@adventure-works.com,100000,0,High School,Management,Y,...,Top-of-the-line competition mountain bike. Per...,Black,44,U,3374.9900,1,Mountain Bikes,Australia,Australia,Pacific
3,1/1/15 0:00,MR. SETH LEWIS,9/25/80 0:00,M,seth20@adventure-works.com,30000,0,High School,Skilled Manual,N,...,Value-priced bike with many features of our to...,Black,44,U,699.0982,1,Road Bikes,Canada,Canada,North America
4,1/2/15 0:00,MR. ALEJANDRO CHEN,1/11/65 0:00,M,alejandro4@adventure-works.com,20000,2,High School,Manual,Y,...,This bike is ridden by race winners. Developed...,Red,48,U,3578.2700,1,Road Bikes,United Kingdom,United Kingdom,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,70000,0,Bachelors,Professional,N,...,Travel in style and comfort. Designed for maxi...,Blue,54,U,2384.0700,1,Touring Bikes,Australia,Australia,Pacific
29995,2/4/17 0:00,MR. CLAYTON JAI,7/8/76 0:00,M,clayton29@adventure-works.com,70000,0,Bachelors,Professional,N,...,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,33.6442,1,Helmets,Australia,Australia,Pacific
29996,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,120000,5,High School,Professional,Y,...,Travel in style and comfort. Designed for maxi...,Yellow,50,U,2384.0700,1,Touring Bikes,Southwest,United States,North America
29997,2/4/17 0:00,MR. CONNOR KING,3/12/60 0:00,M,connor47@adventure-works.com,120000,5,High School,Professional,Y,...,Traditional style with a flip-up brim; one-siz...,Multi,0,U,8.6442,2,Caps,Southwest,United States,North America
29998,2/4/17 0:00,MR. DALTON PEREZ,4/4/57 0:00,M,dalton37@adventure-works.com,90000,2,Partial College,Professional,Y,...,"Universal fit, well-vented, lightweight , snap...",Black,0,0,33.6442,1,Helmets,Canada,Canada,North America

In [ ]:
p1[['Region','AnnualIncome']].groupby(by='Region').sum().sort_values(by='AnnualIncome',ascending=False)

                AnnualIncome
Region
Australia          462610000
Southwest          414770000
Northwest          268810000
Canada             221740000
United Kingdom     193670000
Germany            132440000
France             110760000
Southeast             770000
Northeast             680000
Central               480000

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29999 entries, 0 to 20577
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderDate           29999 non-null  datetime64[ns]
 1   Name                29999 non-null  object
 2   BirthDate           29999 non-null  datetime64[ns]
 3   Gender              29799 non-null  object
 4   EmailAddress        29999 non-null  object
 5   AnnualIncome        29999 non-null  Int64
 6   TotalChildren       29999 non-null  int64
 7   EducationLevel      29999 non-null  object
 8   Occupation          29999 non-null  object
 9   HomeOwner           29999 non-null  object
 10  ProductName         29999 non-null  object
 11  ProductDescription  29999 non-null  object
 12  ProductColor        16367 non-null  object
 13  ProductSize         29999 non-null  object
 14  ProductStyle        29999 non-null  object
 15  ProductPrice        29999 non-null  float64
 16  OrderQuantity       29999 non-null  int64
 17  SubcategoryName     29999 non-null  object
 18  Region              29999 non-null  object
 19  Country             29999 non-null  object
 20  Continent           29999 non-null  object
 21  OrderYear           29999 non-null  int32
 22  OrderMonth          29999 non-null  int32
 23  OrderMonthName      29999 non-null  object
dtypes: Int64(1), datetime64[ns](2), float64(1), int32(2), int64(2), object(16)
memory usage: 5.5+ MB

In [ ]:
df1['Name'].unique()

array(['MR. JOHN THOMAS', 'MR. BRANDON GARCIA', 'MR. ANGEL RICHARDSON',
       ..., 'MS. MONICA RODRIGUEZ', 'MR. LUIS JENKINS',
       'MR. MATTHEW JONES'], dtype=object)

In [ ]:
df1['Name'].value_counts()

Name
MR. CHARLES JACKSON      38
MRS. SAMANTHA JENKINS    36
MR. HENRY GARCIA         36
MS. APRIL SHAN           34
MR. MASON ROBERTS        33
                         ..
MR. KYLE PEREZ            1
MR. JAMES WILLIAMS        1
MR. GABRIEL FOSTER        1
MRS. KARI GUTIERREZ       1
MR. MATTHEW JONES         1
Name: count, Length: 11373, dtype: int64

In [ ]:
df1.pivot_table(index = 'Country',columns = 'Gender',values = 'AnnualIncome' , aggfunc='sum')

Gender                  F          M
Country
Australia       232660000  226240000
Canada           98430000  122420000
France           54250000   55500000
Germany          68770000   61700000
United Kingdom   99620000   92980000
United States   342440000  340050000

In [ ]:
df1.pivot_table(index = 'Occupation',columns = 'Gender',values = 'OrderQuantity',aggfunc = 'sum')

Gender             F     M
Occupation
Clerical        3183  3379
Management      3755  4039
Manual          2449  2593
Professional    6939  6915
Skilled Manual  5350  5326

In [ ]:
df1['Gender'].unique()

array(['M', 'F', nan], dtype=object)

In [ ]:
df1.isna().sum()

OrderDate                 0
Name                      0
BirthDate                 0
Gender                  200
EmailAddress              0
AnnualIncome              0
TotalChildren             0
EducationLevel            0
Occupation                0
HomeOwner                 0
ProductName               0
ProductDescription        0
ProductColor          13632
ProductSize               0
ProductStyle              0
ProductPrice              0
OrderQuantity             0
SubcategoryName           0
Region                    0
Country                   0
Continent                 0
OrderYear                 0
OrderMonth                0
OrderMonthName            0
dtype: int64

In [ ]:
df1['Gender'].fillna('Not Defined',inplace=True)

In [ ]:
df1.isna().sum()

OrderDate                 0
Name                      0
BirthDate                 0
Gender                    0
EmailAddress              0
AnnualIncome              0
TotalChildren             0
EducationLevel            0
Occupation                0
HomeOwner                 0
ProductName               0
ProductDescription        0
ProductColor          13632
ProductSize               0
ProductStyle              0
ProductPrice              0
OrderQuantity             0
SubcategoryName           0
Region                    0
Country                   0
Continent                 0
OrderYear                 0
OrderMonth                0
OrderMonthName            0
dtype: int64

In [ ]:
df1['ProductColor'].fillna('No Color',inplace=True)

In [ ]:
df1.isna().sum()

OrderDate             0
Name                  0
BirthDate             0
Gender                0
EmailAddress          0
AnnualIncome          0
TotalChildren         0
EducationLevel        0
Occupation            0
HomeOwner             0
ProductName           0
ProductDescription    0
ProductColor          0
ProductSize           0
ProductStyle          0
ProductPrice          0
OrderQuantity         0
SubcategoryName       0
Region                0
Country               0
Continent             0
OrderYear             0
OrderMonth            0
OrderMonthName        0
dtype: int64

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29999 entries, 0 to 20577
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderDate           29999 non-null  datetime64[ns]
 1   Name                29999 non-null  object
 2   BirthDate           29999 non-null  datetime64[ns]
 3   Gender              29999 non-null  object
 4   EmailAddress        29999 non-null  object
 5   AnnualIncome        29999 non-null  Int64
 6   TotalChildren       29999 non-null  int64
 7   EducationLevel      29999 non-null  object
 8   Occupation          29999 non-null  object
 9   HomeOwner           29999 non-null  object
 10  ProductName         29999 non-null  object
 11  ProductDescription  29999 non-null  object
 12  ProductColor        29999 non-null  object
 13  ProductSize         29999 non-null  object
 14  ProductStyle        29999 non-null  object
 15  ProductPrice        29999 non-null  float64
 16  OrderQuantity       29999 non-null  int64
 17  SubcategoryName     29999 non-null  object
 18  Region              29999 non-null  object
 19  Country             29999 non-null  object
 20  Continent           29999 non-null  object
 21  OrderYear           29999 non-null  int32
 22  OrderMonth          29999 non-null  int32
 23  OrderMonthName      29999 non-null  object
dtypes: Int64(1), datetime64[ns](2), float64(1), int32(2), int64(2), object(16)
memory usage: 5.5+ MB

In [ ]:
df1.pivot_table(index = 'Country',columns = 'OrderYear' , values = 'OrderQuantity' , aggfunc = 'sum')

OrderYear       2015   2016  2017
Country
Australia        848   7616  1185
Canada           223   4811   783
France           229   3397   414
Germany          226   3338   515
United Kingdom   255   4346   552
United States    849  12722  1922

In [ ]:
df1.pivot_table(index = 'Country',columns = 'OrderYear',values = 'OrderQuantity' , aggfunc = 'sum')

OrderYear       2015   2016  2017
Country
Australia        848   7616  1185
Canada           223   4811   783
France           229   3397   414
Germany          226   3338   515
United Kingdom   255   4346   552
United States    849  12722  1922

In [ ]:
df1.pivot_table(index ='Occupation',columns = 'Gender',values = 'OrderQuantity',aggfunc = 'sum').ascending=False

In [ ]:
df1.pivot_table(index ='Occupation',columns = 'Gender',values = 'OrderQuantity',aggfunc = 'sum').ascending=False

In [ ]:
df1.pivot_table(index='ProductName',columns='Gender',values='OrderQuantity',aggfunc='sum')

Gender                           F       M  Not Defined
ProductName
AWC Logo Cap                1003.0  1016.0         16.0
All-Purpose Bike Stand        75.0    54.0          1.0
Bike Wash - Dissolver        427.0   460.0         10.0
Classic Vest, L               37.0    46.0          NaN
Classic Vest, M               41.0    45.0          2.0
...                            ...     ...          ...
Touring-3000 Yellow, 62        4.0    17.0          NaN
Water Bottle - 30 oz.       1935.0  2000.0         15.0
Women's Mountain Shorts, L    80.0    91.0          3.0
Women's Mountain Shorts, M    79.0    94.0          NaN
Women's Mountain Shorts, S    67.0    68.0          1.0

[130 rows x 3 columns]

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29999 entries, 0 to 20577
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderDate           29999 non-null  datetime64[ns]
 1   Name                29999 non-null  object
 2   BirthDate           29999 non-null  datetime64[ns]
 3   Gender              29999 non-null  object
 4   EmailAddress        29999 non-null  object
 5   AnnualIncome        29999 non-null  Int64
 6   TotalChildren       29999 non-null  int64
 7   EducationLevel      29999 non-null  object
 8   Occupation          29999 non-null  object
 9   HomeOwner           29999 non-null  object
 10  ProductName         29999 non-null  object
 11  ProductDescription  29999 non-null  object
 12  ProductColor        29999 non-null  object
 13  ProductSize         29999 non-null  object
 14  ProductStyle        29999 non-null  object
 15  ProductPrice        29999 non-null  float64
 16  OrderQuantity       29999 non-null  int64
 17  SubcategoryName     29999 non-null  object
 18  Region              29999 non-null  object
 19  Country             29999 non-null  object
 20  Continent           29999 non-null  object
 21  OrderYear           29999 non-null  int32
 22  OrderMonth          29999 non-null  int32
 23  OrderMonthName      29999 non-null  object
dtypes: Int64(1), datetime64[ns](2), float64(1), int32(2), int64(2), object(16)
memory usage: 5.5+ MB

In [ ]:
df1.pivot_table(index=['Occupation','ProductName'],columns='Gender',values='OrderQuantity',aggfunc='sum')

Gender                                         F      M  Not Defined
Occupation     ProductName
Clerical       AWC Logo Cap                142.0  178.0          NaN
               All-Purpose Bike Stand       10.0    9.0          NaN
               Bike Wash - Dissolver        57.0   57.0          2.0
               Classic Vest, L               4.0    9.0          NaN
               Classic Vest, M               9.0    6.0          1.0
...                                          ...    ...          ...
Skilled Manual Touring-3000 Yellow, 62       2.0    4.0          NaN
               Water Bottle - 30 oz.       543.0  519.0          2.0
               Women's Mountain Shorts, L   26.0   28.0          NaN
               Women's Mountain Shorts, M   24.0   25.0          NaN
               Women's Mountain Shorts, S   24.0   25.0          1.0

[647 rows x 3 columns]

In [ ]:
import pandas as pd
df2=pd.read_csv('https://raw.githubusercontent.com/KaungAlex/pandas/main/cases_deaths_eu.csv')

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33910 entries, 0 to 33909
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       33910 non-null  object
 1   country_code  32780 non-null  object
 2   continent     33910 non-null  object
 3   population    33910 non-null  int64
 4   indicator     33910 non-null  object
 5   daily_count   33910 non-null  int64
 6   date          33910 non-null  object
 7   rate_14_day   32428 non-null  float64
 8   source        33910 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.3+ MB

In [ ]:
df2.isna().sum()

country            0
country_code    1130
continent          0
population         0
indicator          0
daily_count        0
date               0
rate_14_day     1482
source             0
dtype: int64

In [ ]:
df2['rate_14_day'].mean()

30.661950584342144

In [ ]:
df2['rate_14_day'].max()

1761.686598

In [ ]:
df2['rate_14_day'].fillna(df2['rate_14_day'].mean(),inplace=True)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33910 entries, 0 to 33909
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       33910 non-null  object
 1   country_code  32780 non-null  object
 2   continent     33910 non-null  object
 3   population    33910 non-null  int64
 4   indicator     33910 non-null  object
 5   daily_count   33910 non-null  int64
 6   date          33910 non-null  object
 7   rate_14_day   33910 non-null  float64
 8   source        33910 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.3+ MB

In [ ]:
df2

,country,country_code,continent,population,indicator,daily_count,date,rate_14_day,source
0,Albania,ALB,Europe,2862427,confirmed cases,0,1/2/2020,30.661951,"Epidemic intelligence, national daily data"
1,Albania,ALB,Europe,2862427,confirmed cases,0,1/3/2020,30.661951,"Epidemic intelligence, national daily data"
2,Albania,ALB,Europe,2862427,confirmed cases,0,1/4/2020,30.661951,"Epidemic intelligence, national daily data"
3,Albania,ALB,Europe,2862427,confirmed cases,0,1/5/2020,30.661951,"Epidemic intelligence, national daily data"
4,Albania,ALB,Europe,2862427,confirmed cases,0,1/6/2020,30.661951,"Epidemic intelligence, national daily data"
...,...,...,...,...,...,...,...,...,...
33905,United Kingdom,GBR,Europe,66647112,deaths,241,10/21/2020,22.836698,"Epidemic intelligence, national daily data"
33906,United Kingdom,GBR,Europe,66647112,deaths,191,10/22/2020,24.652231,"Epidemic intelligence, national daily data"
33907,United Kingdom,GBR,Europe,66647112,deaths,189,10/23/2020,26.332724,"Epidemic intelligence, national daily data"
33908,United Kingdom,GBR,Europe,66647112,deaths,224,10/24/2020,28.388327,"Epidemic intelligence, national daily data"
33909,United Kingdom,GBR,Europe,66647112,deaths,174,10/25/2020,29.783736,"Epidemic intelligence, national daily data"

In [ ]:
df2['date'].astype('datetime64[ns]')

0       2020-01-02
1       2020-01-03
2       2020-01-04
3       2020-01-05
4       2020-01-06
           ...
33905   2020-10-21
33906   2020-10-22
33907   2020-10-23
33908   2020-10-24
33909   2020-10-25
Name: date, Length: 33910, dtype: datetime64[ns]

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33910 entries, 0 to 33909
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       33910 non-null  object
 1   country_code  32780 non-null  object
 2   continent     33910 non-null  object
 3   population    33910 non-null  int64
 4   indicator     33910 non-null  object
 5   daily_count   33910 non-null  int64
 6   date          33910 non-null  object
 7   rate_14_day   33910 non-null  float64
 8   source        33910 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.3+ MB

In [ ]:
df2['date'] = df2['date'].astype('datetime64[ns]')

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33910 entries, 0 to 33909
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       33910 non-null  object
 1   country_code  32780 non-null  object
 2   continent     33910 non-null  object
 3   population    33910 non-null  int64
 4   indicator     33910 non-null  object
 5   daily_count   33910 non-null  int64
 6   date          33910 non-null  datetime64[ns]
 7   rate_14_day   33910 non-null  float64
 8   source        33910 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 2.3+ MB

In [ ]:
df2['year'] = df2['date'].dt.year

In [ ]:
df2['month'] = df2['date'].dt.month

In [ ]:
df2['month_name'] = df2['date'].dt.month_name()

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33910 entries, 0 to 33909
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       33910 non-null  object
 1   country_code  32780 non-null  object
 2   continent     33910 non-null  object
 3   population    33910 non-null  int64
 4   indicator     33910 non-null  object
 5   daily_count   33910 non-null  int64
 6   date          33910 non-null  datetime64[ns]
 7   rate_14_day   33910 non-null  float64
 8   source        33910 non-null  object
 9   year          33910 non-null  int32
 10  month         33910 non-null  int32
 11  month_name    33910 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(2), int64(2), object(6)
memory usage: 2.8+ MB

In [ ]:
df2.pivot_table(index = 'country',columns =['year','source'] , values ='population' ,aggfunc = 'sum')

year                                                                   2020
source                           Epidemic intelligence, national daily data
country
Albania                                                          1706006492
Andorra                                                            45401492
Armenia                                                          1766087464
Austria                                                          5279829900
Azerbaijan                                                       6042948300
Belarus                                                          5631795316
Belgium                                                          6827489324
Bosnia and Herzegovina                                           1955365740
Bulgaria                                                         4172023244
Croatia                                                          2429442616
Cyprus                                                            522035804
Czechia                                                          6347280800
Denmark                                                          3460424276
EU/EEA and the UK (total)                                      277250267238
Estonia                                                           789592720
Europe (total)                                                 505453269180
Faroes                                                             29123540
Finland                                                          3288679724
France                                                          39939678268
Georgia                                                          2377548300
Germany                                                         49479450948
Gibraltar                                                          20079836
Greece                                                           6391861004
Guernsey                                                           38422928
Hungary                                                          5824562576
Iceland                                                           212766636
Ireland                                                          2922927040
Isle of Man                                                        50679072
Italy                                                           35974289416
Jersey                                                             64246416
Kosovo                                                           1071909576
Latvia                                                           1144300928
Liechtenstein                                                      22873288
Lithuania                                                        1665333664
Luxembourg                                                        365880824
Malta                                                             294161164
Moldova                                                          2404241948
Monaco                                                             19718660
Montenegro                                                        370820472
Netherlands                                                     10300169148
North Macedonia                                                  1237970672
Norway                                                           3175614352
Poland                                                          22631795952
Portugal                                                         6124863732
Romania                                                         11571016968
Russia                                                          86976938160
San Marino                                                         20533988
Serbia                                                           4150403344
Slovakia                                                         3248450916
Slovenia                                                         1240221168
Spain                                                           27974487760
Sweden                                                           6097190260
Switzerland                                                      5092538092
Turkey                                                          48874313672
Ukraine                                                         26065320364
United Kingdom                                                  39721678752
the Holy See/ Vatican City State                                     482164